[2019-06-26 15:24] enzoampil opened #1 "Add twitter pull functions for major PSE twitter accounts"
Will create functions that pull and listen to specified PSE related account:

Examples are the official PSE and stock brokerage accounts:

https://twitter.com/phstockexchange?lang=en
https://twitter.com/colfinancial?lang=en
https://twitter.com/firstmetrosec?lang=en
https://twitter.com/BPItrade
https://twitter.com/Philstocks_
https://twitter.com/itradeph
https://twitter.com/UTradePH
https://twitter

[2019-06-26 15:24] enzoampil opened #2 "Add pull functions for pse edge and investagrams"

[2019-06-26 15:24] #2 closed, assigned to nobody

[2019-06-26 15:32] enzoampil opened #3 "# Hashtag listener from twitter"
For companies that have relevant hashtags, we can listen to the tweets about them which can serve as a financial indicator.

[2020-01-14 12:49] jpdeleon opened #5 "downloading content of company disclosures"
`get_company_disclosures()` currently returns a dataframe. It is useful to have another function that downloads and parses its contents, e.g. a particular press release, by supplying say the document's Circular Number. Then it would be easy to run sentiment analysis, etc.

The url format of company disclosures in pse is cryptic:
e.g. [https://edge.pse.com.ph/openDiscViewer.do?edge_no=8571ce07732ab

[2020-01-14 13:01] jpdeleon opened #6 "News article scraper"
[Newspaper](https://github.com/codelucas/newspaper) seems like a good tool to scrape and curate articles related to PSE-listed stocks.

I can imagine using a different tool to search for recent news related to a company and using `newspaper` to scrape that article.

What do you think?

[2020-01-14 15:35] enzoampil commented on #6
I think this makes sense to do -  was intending to do something similar with **Twitter feeds**. However, do take note it will only add value as a data source if we create a pipeline that pulls new PSE related article URLs, perform scraping on those URLs, and then store the data on a separate DB.

[2020-01-14 15:53] enzoampil commented on #5
You basically read my mind on the next steps for that function. It's still a huge todo that could allow us to integrate a lot of NLP into psequant. I'll prioritize this as the next feature to work on, but also feel free to help out with a PR if you find a solution before I post an update :)

[2020-01-14 17:33] enzoampil commented on #5
@jpdeleon URL issue should be resolved now. ```get_company_disclosures()``` now returns a df with a ```url``` columns that points to the url of the required doc :) Now the only thing left is to integrate scraping logic per disclosure type! (as indicated above).

[2020-01-15 01:06] jpdeleon opened #7 "local pip install error and fix"
I installed psequant using `pip install psequant` and it worked alright.
When you pushed an update in `get_company_disclosures()`, I tried to `pip install psequant --upgrade` but it didn't seem to have the latest commit.

So I tried to clone your repo and install locally in develop mode using `pip install -e .` so I have to git pull only to reflect the recent updates.

Doing so throwed an error:

[2020-01-15 01:12] jpdeleon commented on #5
I pulled the changes and it worked! Inddeed, simply adding an `url` column in the `df` is the way to go.

[2020-01-15 01:12] #5 closed

[2020-01-15 10:48] enzoampil commented on #7
Can you try ```pip install psequant --upgrade``` again. It should be reflected now :)

[2020-01-27 13:30] #7 closed

[2020-02-03 02:35] ecolbinado opened #9 "fastquant not compatible with new pandas version 1.0"
`ERROR: fastquant 0.1.2.5 has requirement pandas==0.25.3, but you'll have pandas 1.0.0 which is incompatible.`

I just upgraded to pandas 1.0 and found out that fastquant package is not yet compatible with it. Not a severe issue since I can just rollback to 0.25 version and given pandas 1.0 is very new.

[2020-02-22 02:40] enzoampil commented on #9
Thanks for bringing this up @ecolbinado ! Yes, agree that pandas 1.0 is new andwill wait out for a bit before integrating it. I suggest that you install `fastquant` in a fresh virtual environment when you use it :)

[2020-02-22 02:40] #9 closed

[2020-04-02 11:39] enzoampil opened #13 "R support for fastquant"

[2020-04-02 12:02] enzoampil opened #14 "Read Backtrader quickstart guide"
@kevinroe and @gravityman123  to walk us through the quickstart guide contents and ask us questions  in 2 weeks (Apr 16, 2020).

Quickstart guide:

https://www.backtrader.com/docu/quickstart/quickstart/

[2020-04-02 12:04] enzoampil opened #15 "Add `Bollinger Bands` Strategy"
Walkthrough: https://www.investopedia.com/trading/using-bollinger-bands-to-gauge-trends/

[2020-04-02 13:12] enzoampil opened #16 "Add `Moving Average Convergence Divergence (MACD)` Strategy"
Reference:

[Investopedia explanation](https://www.investopedia.com/terms/m/macd.asp)

[Backtrader indicator doc for MACD](https://www.backtrader.com/docu/indautoref/#macd)

[2020-04-02 13:13] enzoampil opened #17 "Add `EMAC (exponential moving average crossover)` strategy"
Reference: https://admiralmarkets.com/education/articles/forex-indicators/exponential-moving-average

[2020-04-03 00:25] enzoampil opened #18 "Initialize tests for `strategies` module"
Test that each of the strategies in the module (classes inheriting from `BaseStrategy`) will work if they're called by the `backtest` function.

[2020-04-03 00:36] enzoampil opened #19 "Should we also replace `for_validation` values with np.nan?"
This makes it a lot easier to perform EDAs with numerical columns. E.g. `age`.

[2020-04-03 03:43] jgendrinal opened #20 "Throw error when 'sym' is not character vector"

[2020-04-03 03:45] jgendrinal opened #21 "Throw error when s_date and e_date are not in YYYY-mm-dd format"

[2020-04-03 03:46] jgendrinal opened #22 "Add elegant caching"

[2020-04-03 03:48] jgendrinal opened #23 "Find equivalent of backtrader framework in R"

[2020-04-03 03:54] jgendrinal commented on #23
Alternative idea: Link R to python with [reticulate package](https://rstudio.github.io/reticulate/) to make use of the backtrader framework

[2020-04-03 03:56] jgendrinal commented on #13
Will only close this issue after the first release of the R package

[2020-04-03 03:58] jgendrinal commented on #13
- [ ] Ensure that R and Python packages have the same features and tests
- [ ] Both R and Python packages build and pass all tests
- [ ] R package has an approved CRAN submission

[2020-04-03 04:01] jgendrinal commented on #22
.fastquant-cache, with R and python subfolders?

[2020-04-05 07:09] enzoampil opened #24 "Initialize documentation website"
https://www.sphinx-doc.org/en/master/

[2020-04-05 07:21] #19 closed

[2020-04-05 08:30] jpdeleon opened #26 "add formatter and checker in contributing.md"
We may need to add in [our contributing procedure](https://github.com/enzoampil/fastquant/blob/master/CONTRIBUTING.md) code formatter and checker tests e.g. using black and flake8, similar to [this](https://github.com/ljvmiranda921/pyswarms/blob/master/CONTRIBUTING.rst).

[2020-04-05 09:32] jpdeleon opened #27 "explore the alt space"
We can use https://data.gov.ph/ as [alt data](https://alternativedata.org/alternative-data/) source.

[2020-04-05 10:10] #16 closed

[2020-04-05 10:38] enzoampil commented on #27
Do you have specific data points you recommend to get started with? :)

[2020-04-05 13:55] #26 closed

[2020-04-06 00:30] enzoampil opened #30 "Create separate folder for docs and move assets to a subfolder"

[2020-04-06 00:39] enzoampil opened #31 "[FEATURE] Function to pull company disclosure information in parse-able format"
Disclosures can be found in PSE edge

https://edge.pse.com.ph/

[2020-04-07 13:16] #17 closed

[2020-04-08 11:04] #18 closed

[2020-04-08 11:59] #30 closed

[2020-04-09 15:33] #15 closed

[2020-04-09 15:52] enzoampil opened #36 "[FEATURE] Include additional trend dimension to Bollinger Band Strategy"
**Problem:**

The current Bollinger Band Strategy is naive, since it simply treats the upper and lower bands as resistance and support lines, respectively.

**Solution:**

We can make this more robust by applying a trend dimension, that e.g. recommends a buy only in the additional case that a current uptrend exists, and vice versa.

[2020-04-10 01:48] enzoampil opened #37 "Add strategy inventory in readme and include sample code snippets for each"
I think this should eventually live in a tutorial section in `sphinx` webpage, but. this should be good for now. Related to #24 .

[2020-04-10 03:17] #37 closed

[2020-04-10 07:14] jpdeleon commented on #24
Try [just-the-docs](https://pmarsceill.github.io/just-the-docs/) as a simpler documentation framework alternative

[2020-04-10 07:16] jpdeleon commented on #31
See [disclosures branch](https://github.com/enzoampil/fastquant/tree/disclosures).

TODO:
- [x] refactor functions into a class in disclosures.py
- [] add time column in details parsed from `get_disclosure_summary`
- [] add tests
- add NLP methods  (or output fed into an NLP class)

[2020-04-10 07:22] jpdeleon opened #40 "[FEATURE] Add NLP"
Add `nlp` package to analyze output of `disclosures` package

[2020-04-10 08:18] jpdeleon opened #41 "[MINOR] add example link in readme"
A link to examples e.g. [nbviewer](https://nbviewer.jupyter.org/github/enzoampil/fastquant/tree/master/examples/) can be added in README

[2020-04-10 08:22] jpdeleon commented on #27
None in particular, but it would be nice if we can easily pull data and do parallel analysis. Problem is, these datasets are outdated and there's no converient API in most government data portals.

[2020-04-10 10:10] enzoampil opened #43 "[FEATURE] Backfilled disclosure for top PSE blue chips"
Problem: it takes a while to pull disclosures from a lot of companies

Solution: store the data into a DB for easy access

[2020-04-10 10:52] jpdeleon commented on #43
I can write a simple script that downloads and saves disclosures data per company; and spawn a batch job in parallel; e.g. see [my notes](https://docs.google.com/document/d/1tiEXuOO3cseZZFeG2itJrtmE6gdvJMVF9FjKZKSZxdY/edit?usp=sharing)

[2020-04-10 22:07] enzoampil commented on #24
Thanks, will look through these today an initialize a V0

[2020-04-10 23:13] enzoampil commented on #40
@jpdeleon Let's create checklist of models to include in the first release of this.

Some of my ideas so far (glad to take these on as well since I've implemented them already):

- [ ] [Standard spacy named entity recognition](https://spacy.io/usage/spacy-101) - org, person, location, money, and more.
- [ ] [BERT / Transformers based NER](https://github.com/huggingface/transformers/tree/master/exa

[2020-04-11 04:21] jgendrinal opened #45 "Increase speed of data requests"

[2020-04-11 07:54] jgendrinal opened #46 "Test to ensure correct data is read"

[2020-04-11 19:05] jpdeleon commented on #41
Fixed by #47

[2020-04-11 19:05] #41 closed

[2020-04-11 19:20] jpdeleon opened #48 "[FEATURE] implement smart caching for stock data"
We need to implement smart caching for `get_pse_data`, similar to `load_disclosures`. The former only checks for exact match of filename of saved stock data before loading; otherwise it re-downloads everything from scratch even if there's only 1 day difference between old and new query. The latter finds any saved discloures data of that company and appends older and/or newer data depending on the

[2020-04-12 05:47] jpdeleon opened #49 "[BUG] get_company_disclosures only returns first 50 results by default"
As seen in [edge query form](https://edge.pse.com.ph/announcements/form.do), only the first 50 results are shown by default. We need to fix [`get_company_disclosures`](https://github.com/enzoampil/fastquant/blob/371ee005e1550a660eef8210a27a4e2eec080782/fastquant/disclosures.py#L138) to get the entire results.

@enzoampil can you check this? I really don't know how to solve this.

![DMC_disclosures

[2020-04-13 00:41] enzoampil commented on #24
@jpdeleon Thanks for this. I agree that it makes sense to use github pages (V0 [here](https://enzoampil.github.io/fastquant/)).

**Question:** Is there a specific reason why we would want the website's source code to live in a separate branch (`gh-pages`)? Is it so `master` doesn't get cluttered with docs?

[2020-04-13 03:14] jpdeleon commented on #24
I don't have a reason for keeping docs as a separate branch except because that's what is demonstrated on gh-pages. My previous issue with it was I had to always merge master (ahead of docs) every time and resolving conflicts is a bottleneck. Traditionally, documentation lives in master i.e. as /docs, so I am OK if we develop it alongside master.

[2020-04-13 04:06] enzoampil commented on #24
Thanks for clarifying. Yep, my thought is to make it live in master so we don't have to resolve bottlenecks.

[2020-04-13 16:38] #20 closed

[2020-04-13 16:38] #21 closed

[2020-04-15 03:12] jpdeleon commented on #22
Currently, disclosures and stock data are saved in /data directory inside the package by default which can be changed to what you propose by editing the config.py file.

[2020-04-15 03:14] jpdeleon commented on #48
@jgendrinal Does your caching has the same as the latter behavior described above?

[2020-04-15 03:15] jgendrinal commented on #48
Yup.

[2020-04-15 03:17] jpdeleon commented on #48
Can you refer to the line? I want to see how you implement it in R.

[2020-04-15 08:09] jpdeleon opened #50 "[FEATURE] add a financial network analysis example"
I can add a financial network analysis example, following [Dr. Legara's notebook](https://github.com/eflegara/FinancialNetwork/blob/master/Financial%20Network.ipynb).

[2020-04-15 11:28] enzoampil commented on #50
I like this. This can simultaneously act as marketing material on a blog, whether on Medium or straight in the fastquant website :)

[2020-04-15 12:22] enzoampil opened #51 "[FEATURE] Apply allowance to bollinger band strategy"
The current implementation is naive since it triggers a buy or sell at the moment the band is exceeded. An implementation with allowance that's configurable.

[2020-04-15 12:29] enzoampil opened #52 "[FEATURE] V1 of disclosure based trading indicator w/ registered strategy"

[2020-04-15 12:31] jpdeleon opened #53 "[FEATURE] exploit quantopian tools"
quantopian offers [advanced tools](https://github.com/quantopian/). Make sure to check which strategies/functionalities can be readily implemented here.

[2020-04-15 12:43] enzoampil commented on #49
Will have to apply pagination to the get requests

[2020-04-15 13:01] jpdeleon opened #54 "[INTERNAL] archive all disclosures information"
edge pse/ investagrams may change its api anytime. We should archive all disclosures information in a private database.

[2020-04-15 13:19] jpdeleon commented on #50
Here's the current network:

![network](https://user-images.githubusercontent.com/15188345/79341732-34a7e980-7f67-11ea-9ea5-0b49cc744aea.jpg)

[2020-04-15 13:22] jpdeleon commented on #50
It'll be greate if we can make a "live" website that periodically updates this figure.

[2020-04-16 04:01] jpdeleon opened #55 "[BUG] site returns empty html"
Check why investagrams returns empty html:
https://github.com/enzoampil/fastquant/blob/9286b55aa5954bb0c69498869426e72a91f1645b/fastquant/disclosures.py#L584

[2020-04-16 13:49] enzoampil commented on #55
@jpdeleon  Which date range does this happen. It may be because no earnings disclosures came out in your date range. The following works:

[code]

[2020-04-16 23:13] enzoampil commented on #54
Will do this weekend

[2020-04-17 03:23] jpdeleon commented on #55
Right! I queried a short baseline from January this year and it returned html. I confirm using a longer baseline returns data. I will re-open this issue if any bug arises.

[2020-04-17 03:23] #55 closed

[2020-04-17 03:24] jpdeleon commented on #31
Fixed by #47

[2020-04-17 03:24] #31 closed

[2020-04-17 04:11] jpdeleon commented on #48
To make `get_pse_data` faster,
* include 5 years historical data of all symbols as cache in /data (~9MB)
* download only newer data if needed

[2020-04-17 09:07] #49 closed

[2020-04-17 10:54] jgendrinal commented on #48
Will close my previous issue on this, but will add r-dev tag

[2020-04-17 10:54] #22 closed

[2020-04-17 19:35] jgendrinal opened #57 "[FEATURE] Handle non-trading days in dataset"
#### Problem description

Current dataset includes weekends and non-trading days and tags them as rows all with N/A values. Data could be treated either by removing the non-trading days, or filling these days with the last value.

#### Environment

-  platform (e.g. Linux, OSX, Windows): platform-independent
-  lightkurve version (e.g. 1.0b6): n/a
-  installation method (e.g. pip, conda, source):

[2020-04-22 12:33] jgendrinal commented on #48
Need help handling this issue first https://github.com/enzoampil/fastquant/issues/57

[2020-04-23 06:37] jpdeleon opened #59 "[BUG] phisix API endpoint deprecated"
The old phisix API endpoint:
http://phisix-api2.appspot.com/stocks/
has been replaced with a new one:
http://1.phisix-api.appspot.com/stocks/

The fix is implemented in #58 .

[2020-04-23 07:15] jpdeleon commented on #59
Update: I put the old API back if new API fails, and I added a catch error if server error occurs.

[2020-04-25 07:58] #57 closed

[2020-04-25 08:07] jgendrinal commented on #59
Need to implement this in R as well if the endpoint is deprecated before resolving https://github.com/enzoampil/fastquant/issues/48 from my end

[2020-04-27 06:15] jpdeleon opened #62 "[enhancement] download and parse disclosures attachment(s)"
Some company disclosures have attachment(s) that provide more details, e.g.
https://edge.pse.com.ph/openDiscViewer.do?edge_no=d01aed5ca14a1ab20de8473cebbd6407

It is not urgent but useful to scrape in the future.

[2020-04-27 07:36] jpdeleon commented on #50
First attempt at #63

[2020-05-01 07:02] jpdeleon opened #65 "[FEATURE] return cerebro object instead of bool in backtest"
https://github.com/enzoampil/fastquant/blob/36fc7cadb10871641a0e6a314705165ea68a3c90/fastquant/strategies.py#L536

After running backtest, it'll be better to return the cerebro object in case user needs to access its properties (at least I do).

@enzoampil Do you agree? I will do this if so.

[2020-05-01 10:19] enzoampil commented on #65
Ok this is a NEED.

[2020-05-01 10:20] enzoampil commented on #65
@jpdeleon thanks for catching this. Yes, intended the boolean as a temporary thing to return.

[2020-05-01 11:06] alexismanalo opened #66 "[BUG] Error when running the get_pse_data from lesson 1 (fresh installation)"
#### Problem description

I'm unable to run the "three line code" from lesson 1

Initially, installed fastquant in Anaconda terminal using
[code]
Proceeded to open my Jupyter notebook to run the following codes
[code]

Error showed

![image](https://user-images.githubusercontent.com/10992865/80801364-b130fe00-8bde-11ea-928b-8d9cd1bfb5c0.png)

Downloaded the "data" folder from fastquant repo and pa

[2020-05-01 11:18] enzoampil commented on #66
@jpdeleon were able to replicate this issue by any chance?

[2020-05-01 11:23] enzoampil commented on #66
I was able to replicate the error, just wondering why this doesn't reflect in the fastquant [tests](https://github.com/enzoampil/fastquant/blob/master/tests/test_fastquant.py).

[2020-05-01 11:26] enzoampil commented on #66
@jpdeleon Why do we assert the existence of the [cache](https://github.com/enzoampil/fastquant/blob/36fc7cadb10871641a0e6a314705165ea68a3c90/fastquant/fastquant.py#L305) again?

[2020-05-01 12:35] enzoampil commented on #66
@jpdeleon think we can set `update=True` when the file path doesnt exist?

[2020-05-01 13:55] jpdeleon commented on #66
Proposed a fix at #67

[2020-05-01 13:57] alexismanalo commented on #66
Not sure if this helps but I'm able to successfully run a code using the following:

[code]

[2020-05-01 14:02] jpdeleon commented on #66
Hi @alexismanalo , thanks for your interest! And sorry for such a trivial bug. I just proposed a fixed and it is currently under review. If you want to use the fix for now, please re-install the tests branch of fastquant using:

[code]

You can use the `get_pse_data_old` but it gives you `date`, `open`, `high`, `low`, `close` columns  only. To backtest, you need the `volume` too and that is provid

[2020-05-01 14:55] alexismanalo commented on #66
Thanks @jpdeleon , no worries! I tried the tests branch and seems to be working fine. I might be getting a few NaN's though for recent data pulls (2020) but, hey, that's for another day.

Thanks, again for your hard work.

[2020-05-01 15:45] enzoampil commented on #66
@jpdeleon I've updated pypi, with the above merged update but I'm still getting this bug (even if above installation works).

[code]

Any ideas why?

[2020-05-01 16:12] enzoampil commented on #66
**Found the fix:**
Have to exlicitly upload data files to pypi in `setup.py` ([reference](https://stackoverflow.com/questions/57748325/how-to-create-and-load-internal-data-in-python-package)).

These are reflected in the commit above to master.

@alexismanalo Installing fastquant regulary with `pip install fastquant` should also work now :smile:

[2020-05-01 16:19] enzoampil opened #69 "Reflect new default format (DC) `get_stock_data` sample on readme"
Current sample in README still reflects the old DCV default.

[2020-05-02 02:27] jpdeleon opened #70 "[FEATURE] blog"
Some notebooks are mature enough to be turned into a blog article. I propose to add a blog page in our gh-pages.

Here is a running list of articles:
* basic
- [ ] basic data retrieval and derivation of technical indicators
- [ ] basic backtesting
- [ ] basic disclosures
- [ ] stock network visualization
- [ ] backtesting with grid search
- [ ] add more

* advanced
- [ ] NLP of disclosures
- [ ] j

[2020-05-02 03:25] alexismanalo commented on #66
@enzoampil The fix worked fine. Should be okay to close this one. Thanks, again! 😃

[2020-05-02 04:38] #66 closed

[2020-05-02 04:38] jpdeleon commented on #66
@alexismanalo Just remember you can get either date,close,volume columns (format='dcv') or date,open,high,low,close columns (format='dohlc') but NOT a mix of columns from the two groups (e.g. format='docv' yields NaN in Open column). The reason is their sources are different. Will try a fix but this suffice for now.

[2020-05-02 04:40] #65 closed

[2020-05-02 05:46] ntanii23 opened #72 "Date not showing at xaxis. Kindly fix. Love your work!"
![Figure_1](https://user-images.githubusercontent.com/31375991/80856293-3c5fd180-8c7b-11ea-9df1-f5573cdecaf6.png)

[2020-05-02 06:13] jpdeleon commented on #72
Hi @ntanii23 , did you see the template questions when reporting this bug? If not, here it is:
[code]

#### Expected behavior

#### Environment

-  platform (e.g. Linux, OSX, Windows):
-  fastquant version (e.g. 1.0b6):
-  installation method (e.g. pip, conda, source):
[code]

[2020-05-02 06:25] ntanii23 commented on #72
thank you very much

[2020-05-02 06:29] jpdeleon opened #73 "[FEATURE] set dt as index"
Plotting data takes a lot of steps and this can be painful for beginners:
[code]

I propose to make dt column a pandas datetime object and set it as index by default in `get_stock_data` so the above code can be simplified into:
[code]

[2020-05-02 06:32] jpdeleon commented on #72
Welcome! If you don't have any related issue, then I will close this now. Please re-open whenever you find any problems.

[2020-05-02 06:32] #72 closed

[2020-05-02 06:37] jpdeleon opened #74 "bug template"
Please fix the bug report template below, specifically the 2nd to the last line:
[code]
to something like
[code]
It'll be better if version can be printed via the stardard means
[code]
but not sure how. May be adding a `version.py` and importing in `__init__`?

#### Problem description

#### Example

[code]

#### Expected behavior

#### Environment

-  platform (e.g. Linux, OSX, Windows):
-  light

[2020-05-02 07:12] enzoampil commented on #70
I like this. Great idea! We can then incorporate each as episodes in the fastquant webinar once we finish the basic strategies in the original curriculum

[2020-05-02 07:34] enzoampil opened #75 "[FEATURE] Apply automated grid search straight from `backtest`"
Currently the `backtest` function only takes on one set of arguments at a time. In practice we actually want to run results on multiple combinations. (e.g. multiple possible values for slow and fast moving average).

Utilize `cerebro.optstrategy` to perform the above ([reference](https://www.backtrader.com/docu/cerebro/))

[2020-05-02 08:41] jpdeleon commented on #50
Fixed.

[2020-05-02 08:41] #50 closed

[2020-05-03 07:32] jpdeleon commented on #75
Once done, we can mention in the [notebook](https://github.com/enzoampil/fastquant/blob/master/examples/backtest_with_grid_search.ipynb) that fastquant does this automatically for user. :)

I think this merits backtest to be a class of its own so we access it's properties e.g. the best parameters, the backtrader figure using the best parameters, etc.

[2020-05-03 11:23] enzoampil commented on #75
@jpdeleon Noted on the notebook :)

hmm not necessary for it to have its own class if all of these properties are found straight from the cerebro object rigth?

[2020-05-05 02:20] jpdeleon opened #76 "[BUG] no stock data returned when date inputs are valid but incorrect"
#### Problem description
`get_stock_data(..., format='dcv')` throws error/ quits prematurely when `start_date` input is much earlier than when data is available. This happens because we set 10 consecutive NaNs as threshold for escaping the loop. Ideal solution is to figure out if date inputs are wrong and prescribe the correct date, or just return available data even if far from either dates witho

[2020-05-05 09:58] jpdeleon opened #77 "[FEATURE] backtrader reference"
Here is a more reader-friendly reference about backtrader that we can refer in our articles or new-comers.
* https://algotrading101.com/learn/backtrader-for-backtesting/

[2020-05-05 12:57] jpdeleon opened #78 "[FEATURE] adapt one date format"
`fastquant` module uses "%Y-%m-%d" date format whereas `disclosures` uses "%m-%d-%Y". We should adapt only one format and I prefer the second one because it is more natural.

[2020-05-05 14:12] jpdeleon commented on #75
@enzoampil I agree. Sorry I missed earlier your note about `cerebro.optstrategy` that does parameter optimization under the hood already. I think any parameter in a strategy can be optimized already.

The grid_search notebook is only useful for presentation but not useful in practice.

Also check also this backtrader [script](https://github.com/mementum/backtrader/blob/master/samples/optimization/

[2020-05-06 10:16] jpdeleon opened #80 "[FEATURE] add jupyter notebook in CI build"
Is there a way to add jupyter notebooks in CI to make sure they are also updated?

[2020-05-09 02:44] #73 closed

[2020-05-09 04:06] enzoampil commented on #75
Planning to apply the ff:

1. Perform grid search if any of the parameters are input as an `iterable`
2. If `plot = True` only the "optimal" version of the strategy is returned

[2020-05-10 03:10] enzoampil opened #83 "[FEATURE] Auto detect format of dataframe to be backtested based on column names"
Right now, only `cv` and `c` are registered data formats (see below).

We can automate this by using the standard column names to automatically populate the indices to the format `dict` rather than having to *manually* register data formats.

[code]

[2020-05-11 03:04] #75 closed

[2020-05-11 07:41] jpdeleon opened #84 "[enhancement] dynamically allocate `maxcpus`"
https://github.com/enzoampil/fastquant/blob/e0c6a7e4b18c16075a42cfaa5f711a522e4c8f1e/fastquant/strategies.py#L528

There is no decrease in run time using built-in grid search in backtest compared to basic loop-based grid search using identical parameter grid. It may be good to increase `maxcpus` if input parameter in `backtest` is a list else `maxcpus`=1 (default).

[2020-05-12 14:50] jester22 opened #85 "[BUG] use of argwhere with Panda series"
argwhere does not work with pandas Series
#### Problem description

Known issue with numpy [Issue Link](https://github.com/numpy/numpy/issues/15555)

Usage at:
fastquant/disclosures.py
line 435, in load_disclosures
[code]
#### Example

[code]

#### Solution
use instead [flatnonzero](https://docs.scipy.org/doc/numpy/reference/generated/numpy.flatnonzero.html)
[code]

#### Environment
Python 3.6.9
n

[2020-05-13 06:34] enzoampil commented on #78
ahhhh I actually find the first one to be more common :(

[2020-05-13 22:56] enzoampil commented on #85
@jester22 Can you share the argument values you used for this line?

[code]

[2020-05-13 23:54] enzoampil opened #87 "[BUG] ValueError: 5 columns passed, passed data had 1 columns when running DisclosuresPSE"
#### Problem description
Error when running `DisclosuresPSE`

#### Example
[code]

#### Environment

Google colab

[2020-05-13 23:55] enzoampil commented on #85
Seem to be getting a separate issue that stop me from replicating this error in issue #87. Will figure this out first.

[2020-05-14 00:00] enzoampil commented on #87
@jpdeleon any immediate ideas on the cause of this? 😄

[2020-05-14 00:35] jpdeleon commented on #87
@enzoampil working on it! it seems related to change of dt as index

[2020-05-14 01:19] jpdeleon commented on #85
@jester22 if you create a venv, you should have numpy==1.18.0 as defined in requirements.txt. This error is for numpy==1.18.1 according to your issue link.

I cannot reproduce this issue.
[code]
yields `array([0, 1])`. Issue here is due to the boolean `older`.

I plan to merge your PR because using `np.flatnonzero(df)` is identical to `np.argwhere(df).flatten()` anyway.

[2020-05-14 01:36] enzoampil commented on #1
Can use this scraper [link](https://gist.github.com/onmyeoin/62c72a7d61fc840b2689b2cf106f583c)

[2020-05-14 01:37] #3 closed

[2020-05-14 04:12] #87 closed

[2020-05-14 04:13] #85 closed

[2020-05-14 06:58] enzoampil commented on #77
Mentioned this in the quickstarter issue #14

[2020-05-14 06:58] #77 closed

[2020-05-14 07:34] enzoampil opened #89 "[BUG] Plotting doesn't work on google Colab"
On of the main features of the `backtest` function is your ability to plot you backtests. Currently plotting does not work when run on a Colab notebook.

Sample code:

[code]

[2020-05-14 07:51] enzoampil opened #90 "[BUG] EMAC and MACD are switched in README"

[2020-05-14 08:14] enzoampil opened #91 "[FEATURE] Add strategy that simulates a "buy and hold""
When assessing trading strategies, it's important to have a reasonable benchmark at all times. A simple buy and hold strategy is typically a good example of this. This is the case where you invest all your money in a specific stock and then sell the whole position when the period ends.

[2020-05-14 10:36] jpdeleon commented on #89
@enzoampil Isn't this related to `get_stock_data` having implicit format='c', instead of 'cv'?

[2020-05-14 23:29] enzoampil commented on #89
Ah no, the plotting in the `backtest` function should still work with the `c` format. It just stops plotting volume in that case but should still work.

[2020-05-14 23:36] jpdeleon commented on #83
I tried to do a function that outputs the format mapping before but it’s quite tricky.

[2020-05-14 23:39] jpdeleon commented on #78
Ok, let’s adapt the first format. It be great to implement #80 to update notebooks automatically.

[2020-05-15 04:59] enzoampil commented on #83
Same experience. It initially seemed trivial, but ... apparently not

[2020-05-17 02:18] jpdeleon opened #92 "[FEATURE] add crypto"
It'll be interesting to add the ability to pull and backtest crypto data (at least major ones like bitcoin, ethereum, etc) with fastquant.
Here are some api's that provide crypto data:
* [quandl](https://blog.quandl.com/api-for-bitcoin-data): e.g. https://www.quandl.com/api/v3/datasets/BCHARTS/BITSTAMPUSD
* others that doesn't need api key?

See also [this notebook](https://blog.patricktriest.com/

[2020-05-17 02:27] jpdeleon opened #93 "[FEATURE] add screener module"
We need to consolidate all functions for basic filtering and plotting of historical data and add them to the `screener` module proposed in screener branch.

[2020-05-25 00:07] #59 closed

[2020-05-25 01:11] enzoampil opened #94 "Add auto-optimization feature in readme"
The new auto-optimization feature is not yet in the readme.

[2020-05-25 07:49] #69 closed

[2020-05-25 07:51] #90 closed

[2020-05-25 09:17] enzoampil commented on #94
Solved by commit 6abe255d3d3dc7d21f7388e04042816c7a194217

[2020-05-25 09:17] #94 closed

[2020-05-26 09:32] enzoampil commented on #92
Very interested in this. Quite relevant as well with the increase in bitcoin adoption atm!

[2020-05-26 14:20] #91 closed

[2020-05-27 06:09] RadEdje commented on #5
Greetings,

Just wanted to congratulate you on this amazing python PINOY PSE lbrary.

Now for   my question;

I imported the following:

`from fastquant import get_company_disclosures`

but got this error on google  colab:

`ImportError                               Traceback (most recent call last)

<ipython-input-27-32491801d0ee> in <module>()
----> 1 from fastquant import get_company_disclosure

[2020-05-27 07:10] jpdeleon commented on #5
Hi @RadEdje, thanks for checking fastquant. You have to first initialize the DiseclosuresPSE class before being able to use the get_company_disclosures method.  Please see the example in this notebook:

https://github.com/enzoampil/fastquant/blob/master/examples/disclosures.ipynb

[2020-05-29 01:34] jpdeleon commented on #5
@RadEdje Did it work for you? Please give us some feedback for improvements or feature requests if there are any. Thanks!

[2020-05-29 01:42] jpdeleon opened #97 "[BUG] some functions in video tutorial are deprecated"
For example, `get_company_disclosures` demonstrated here:
https://www.youtube.com/watch?v=Yf0nZ7C45zY&t=45m29s
is not available anymore since I migrated it into the `DisclosuresPSE` class.

This is probably how a new user stumbled upon it and reported it as a bug:
https://github.com/enzoampil/fastquant/issues/5#issuecomment-634449661

One quick fix is to make it available both as a standalone func

[2020-05-29 01:42] enzoampil opened #98 "Take out low level backtrader example notebooks"
Since we can do backtesting straight from fastquant, think makes sense to start taking out the notebooks that use only backtrader

[2020-05-29 01:48] enzoampil commented on #97
Hmmmmm, initial thought is to just add a note in the video that there a new way to call the function. Should be ok to keep module as is :)

[2020-05-29 11:42] enzoampil commented on #92
References:

https://github.com/pycrypto/pycrypto
https://github.com/pyca/cryptography
https://github.com/ethereum/pyethereum
https://github.com/freqtrade/freqtrade

[2020-05-29 13:09] enzoampil commented on #92
Use binance

[2020-05-29 14:17] enzoampil opened #101 "[FEATURE] Portfolio backtesting support"
Currently, we only support backtesting for a specific stock over time. Much better for industry practitioners if we can backtest a whole portfolio with weights over time.

[2020-05-29 14:17] enzoampil opened #102 "[FEATURE] Add PSEI support to get_stock_data"
PSEI value is currently not queryable

[2020-05-30 12:43] rafmacalaba commented on #89
@jpdeleon  @enzoampil I solved this by adding a parameter in `cerebro.plot(iplot=False)` when using Colab. maybe we can have a variable that the user can set to boolean if they are running in Colab or not.

[2020-05-30 12:51] enzoampil commented on #89
awesome @rafmacalaba . Feel free to send a PR for this :) awesome finding!

[2020-05-31 05:29] #89 closed

[2020-05-31 05:30] enzoampil opened #105 "[Docs] Document New R support with sample code snippet for data pull"
Currently, we only have the python version of fastquant documented on the README. Great to include an R version of the setup installation and basic data pulling :smile:

[2020-05-31 06:43] benjcabalona1029 opened #106 "[BUG] Unable to pull data for a longer date range"
Tried downloading 2010 - 2020 data for JFC using the code below.

[code]

Error Message:

[code]

[2020-05-31 12:40] jgendrinal commented on #102
To clarify, not queryable in phisix?

[2020-05-31 12:44] jgendrinal commented on #106
Will try the same implementation in R. Have a feeling phsix only supports a very limited date range.

[2020-05-31 12:46] jgendrinal commented on #23
No equivalent found as of yet. Will reopen once found.

[2020-05-31 12:46] #23 closed

[2020-05-31 12:47] jgendrinal commented on #14
Will do a reading of this as well so R can port well to Python and backtrader.

[2020-05-31 12:53] jgendrinal commented on #48
@jpdeleon, proposing alternative solution:
- Upon first use of `get_pse_data`, download 3 years worth of stock prices
- Store a csv file named with the ticker symbol and date range in /fq-data folder in current directory of the user

`get_pse_data` will then execute the following:
1. Check to see if symbol is found among files in /fq-data
2. Check to see if their query falls outside the date range

[2020-05-31 12:54] #45 closed

[2020-05-31 12:56] jgendrinal opened #108 "[FEATURE] R Travis CI build support"

[2020-05-31 13:32] #105 closed

[2020-05-31 22:55] enzoampil opened #109 "[R FEATURE] Mirror get_stock_data with yahoo finance integration for R"
Currently, we can only to `get_pse_data` with `R`. To make it consistent with the python package, it's best to have a version that includes global stock data with the same yahoo finance API.

[2020-05-31 23:52] enzoampil opened #110 "[BUG] pip install from master does not work"
Ever since the new R file system got implemented it now doesn't work to pip install straight from master.

Example:

[code]

[2020-05-31 23:59] jpdeleon commented on #110
For the meantime, should we revert to previous version and develop R on a separate fork, so at least master works?

[2020-06-01 00:28] #110 closed

[2020-06-01 00:31] enzoampil commented on #110
@jpdeleon Apologies, latest PR merged should've fixed this. Please let me know if you still encounter any issues.

[2020-06-01 02:58] jpdeleon commented on #110
Yep, now it works.

[2020-06-05 00:52] ChingSlayer opened #113 "[FEATURE] add multi-strategy"
Feature Suggestion
- A backtest/trade strategy which incorporates multiple indicators

Example:
- Buy when Price > 20 ema > 50 ema > 100 ema AND StochasticRSI is oversold
- Sell when close is below 20 ema

Position Size/Risk Mgt:
- Risk 2% of portfolio every trade

[2020-06-05 02:01] #97 closed

[2020-06-06 01:22] rafmacalaba commented on #113
@enzoampil this one seems to be customized as per user, how do you want to call this? @ChingSlayer

[2020-06-06 02:07] rafmacalaba commented on #113
@ChingSlayer  could you please elaborate how do you execute this trade? any visual representation will do.

``` Buy when Price > 20 ema > 50 ema > 100 ema AND StochasticRSI is oversold ```

[2020-06-06 03:44] enzoampil commented on #113
@rafmacalaba yeah thought so far is to generalize this feature as a `MultiStrategy` feature where users can choose combinations of our library of strategies, and from their set parameters as they wish for multiple strategies :)

[2020-06-06 11:55] lorenzourera commented on #113
StochasticRSI isn't part of backtrader. We will need to define this as a custom indicator.

[2020-06-06 12:29] ChingSlayer commented on #113
I dont have a specific name for the setup. Here is how I imagine the trade
to look like

On Sat, Jun 6, 2020 at 7:55 PM Lorenzo Urera <notifications@github.com>
wrote:

[2020-06-06 12:32] rafmacalaba commented on #113
https://www.backtrader.com/recipes/indicators/stochrsi/stochrsi/ official docs
https://community.backtrader.com/topic/1652/stochastic-rsi-indicator request

[2020-06-06 12:35] rafmacalaba commented on #113
@ChingSlayer I'm afraid you haven't uploaded your attachment

[2020-06-06 14:37] lorenzourera commented on #113
got it. thanks!

[2020-06-07 06:40] ChingSlayer commented on #113
![AOTS](https://user-images.githubusercontent.com/57378256/83962097-c7f8fd80-a8cc-11ea-8b92-e1eba4a0202e.jpg)

[2020-06-07 06:41] ChingSlayer commented on #113
Here is the visual representation/sample :)

[2020-06-07 06:52] rafmacalaba commented on #113
@ChingSlayer Thanks for this, however the image is somehow blurry. Just by looking at it, the 50 and 100 ema doesn't seem to have use in the entire strategy or am I missing something?

[2020-06-11 13:05] jpdeleon commented on #92
a more extensive api list: https://github.com/ccxt/ccxt

[2020-06-13 11:49] enzoampil commented on #113
A `MultiStrategy` approach like the one below will do the trick:

[code]

This is based on the suggestion by @jbdelmundo :smile:

[2020-06-13 11:59] enzoampil commented on #113
From the `backtest` function standpoint, I'm thinking something like:

[code]

[2020-06-13 12:01] rafmacalaba commented on #113
looks promising! @enzoampil

[2020-06-13 12:57] enzoampil commented on #113
Most promising reference I found so far:

Initial idea is to run multiple strategies while instantiating a final one which keeps track of each one with a global dict.

https://community.backtrader.com/topic/1337/running-multiple-strategies-combining-the-output/3

[2020-06-13 14:23] enzoampil commented on #113
fitbit api fields

https://dev.fitbit.com/build/reference/web-api/explore/

[2020-06-13 21:09] jgendrinal commented on #109
The following issues have this issue as a dependency: https://github.com/enzoampil/fastquant/issues/106 https://github.com/enzoampil/fastquant/issues/102

[2020-06-14 04:04] jpdeleon commented on #6
@rafmacalaba I added a link above about existing news scrapers. Let me know which is best for our purpose.

[2020-06-14 11:13] rafmacalaba commented on #6
@jpdeleon newspaper looks promising!

[2020-06-14 12:27] enzoampil opened #116 "Add Sentiment Analysis strat to README"
@rafmacalaba  sorry forgot to add this to the review earlier. Let me know if you're okay to take this on; otherwise, I can also take it on :smile:

[2020-06-14 13:59] #116 closed

[2020-06-16 14:53] enzoampil opened #119 "Add Multi Strategy support to README"
The new multi-strategy feature should be demonstrated on the readme so users can be informed about this functionality

[2020-06-18 09:13] enzoampil commented on #113
Will close this issue since we've already integrated multi-strategy support

[2020-06-18 09:13] #113 closed

[2020-06-20 12:48] rafmacalaba commented on #70
fastpages @jpdeleon @enzoampil

[2020-06-25 12:20] enzoampil commented on #109
Using quantmod

https://cran.r-project.org/web/packages/quantmod/quantmod.pdf

[2020-06-25 12:22] enzoampil opened #120 "[FEATURE] Register fastquant on CRAN for R"

[2020-06-25 12:54] enzoampil opened #121 "[FEATURE] Add PH news sources"
Can start with Rappler

[2020-06-25 12:55] enzoampil opened #122 "[FEATURE] Generalize sentiment strategize"

[2020-06-25 12:56] enzoampil opened #123 "[FEATURE] Sentiment disclosures strategy"

[2020-06-25 13:05] enzoampil opened #124 "[FEATURE] Make trading signal time series accessible from cerebro"

[2020-06-25 13:18] enzoampil opened #125 "Getting started guide to fastquant"

[2020-06-25 14:12] jpdeleon commented on #122
guide
[code]

[2020-06-25 21:03] jgendrinal commented on #48
Temporarily closing caching until we can harmonize Python and R caching conventions.

[2020-06-25 21:03] #48 closed

[2020-06-30 18:06] jgendrinal opened #126 "[FEATURE] Get available stock ticker symbols"
Users should be able to call for an exhaustive list of all available ticker symbols on fastquant with one function

[2020-06-30 18:09] jgendrinal opened #127 "[FEATURE] Restrict calls to ticker symbols that have an existing stock"
Users should only be able to call data with ticker symbols that are available on the PSE or another exchange

[2020-06-30 18:10] jgendrinal commented on #120
@enzoampil, indicated you as maintainer during the CRAN submission. Will require you to confirm through email!

[2020-06-30 18:11] jgendrinal commented on #109
quantmod implementation included in CRAN submission. Will revise locally given any CRAN feedback, then will make the pull request that will close this issue.

[2020-06-30 18:12] jgendrinal commented on #106
Is this issue still persisting?

[2020-06-30 18:13] jgendrinal commented on #108
Will include this in next PR from me!

[2020-06-30 18:15] jgendrinal commented on #13
Closing this issue, as this is an old duplicate of https://github.com/enzoampil/fastquant/issues/120

[2020-06-30 18:15] #13 closed

[2020-06-30 18:15] jgendrinal commented on #46
Test to be included in next PR!

[2020-06-30 20:15] jgendrinal commented on #125
The way this link from the other issue did it might be a good starting point for our guide.
https://algotrading101.com/learn/backtrader-for-backtesting/

The guide has a limitation that the people reading it are expected to know trading and trading terminology. It would be helpful (even for me personally) if our guide defined terms along the way.

[2020-07-05 10:09] #119 closed

[2020-07-05 10:12] enzoampil opened #129 "[FEATURE] R version of get_crypto_data"
There will soon be crypto data support in the python version of fastquant via `get_stock_data` (#128). Would be great to have something similar on R.

[2020-07-05 10:14] enzoampil commented on #106
@jgendrinal Yeah, no fix yet. Feel free to take it on if bandwidth allows :smile: I can take on some of these pending bugs potentially next week.

[2020-07-05 10:35] #92 closed

[2020-07-06 10:15] rafmacalaba commented on #1
@vincevertulfo the `SentimentStrategy` is ready to accommodate this one. Please ping me if you want to integrate it na to fastquant.

[2020-07-09 12:00] enzoampil opened #132 "[FEATURE] V0 Notification Bot"
**Set up app that implements workflow below:**

**Pipeline workflow**

- [ ] Calculate indicator value at EOD
- [ ] Identify whether buy, sell, or none
- [ ] Send notification to platform: Slack bot

**App setup:**

1. Run CLI with 4 arguments: `date_range`, `strategy`, `parameters`, `stock`
2. Starts at the start date, ends at end date
3. Triggered at end of day (1 PM)

[2020-07-09 12:07] enzoampil commented on #109
Already done, just waiting for CRAN release :)

[2020-07-09 22:37] enzoampil commented on #132
[Live trading and data feeding](https://www.backtrader.com/docu/live/ib/ib/) capabilities with backtrader will be useful in later versions.

[2020-07-10 11:26] jbdelmundo commented on #125
So far, I've identified the following items

- Installation
- Downloading data
- Backtesting using built-in strategies
- Accessing indicators
- Creating custom strategies
- Creating indicators

[2020-07-12 20:40] jgendrinal commented on #120
Released [2020-07-10.](https://cran.r-project.org/web/packages/fastquant/index.html)

[2020-07-12 23:36] #109 closed

[2020-07-12 23:36] #120 closed

[2020-07-13 23:50] enzoampil opened #135 "Update R setup"
Now that fastquant is registered on CRAN, setup should be doable with the standard R installation.

[2020-07-14 01:11] jpdeleon commented on #127
I use [stock_table.csv](https://github.com/enzoampil/fastquant/blob/master/python/fastquant/data/stock_table.csv) as reference of list of stocks when I'm updating data cache using [update_cache](https://github.com/enzoampil/fastquant/blob/master/python/scripts/update_cache) script.

But there are newly listed companies in PSE so it's better to get an updated list.

[2020-07-14 04:49] enzoampil opened #137 "[BUG] Senti-strat tests not passing"
Failing tests for the recent senti-strat was originally noticed by @jpdeleon and @jgendrinal in their recently merged PRs (#134 , #136 ).

Sample error:

[code]

[2020-07-14 14:52] #137 closed

[2020-07-15 02:10] jgendrinal opened #139 "[BUG] Add #egg=fastquant at the end of the installation code chunk for lesson and example notebooks"
Running the following code in backtest_crypto.ipynb in JupyterLab:
`!pip3 install -e git+https://github.com/enzoampil/fastquant.git@master` (only pip3 installed in my machine),
I get the following error:
`ERROR: Could not detect requirement name for 'git+https://github.com/enzoampil/fastquant.git@master', please specify one with #egg=your_package_name`

Revising to the following code resolved the

[2020-07-15 02:46] #46 closed

[2020-07-15 02:51] jgendrinal opened #141 "[FEATURE] R support for backtesting"
Will port R to python installation using the `reticulate` package

[2020-07-15 03:38] #135 closed

[2020-07-15 03:38] #139 closed

[2020-07-17 15:05] jbdelmundo opened #142 "Refactor Code structure"
Restructure code structure to
[code]
This will allow easier expansion of additional strategies, disclosures, data and indicators.

[2020-07-19 10:56] jeditrial opened #143 "[FEATURE] Downloading stock data from listing date."
I tried downloading the data of JFC from its listing date (07-14-1993) but I can't seem to do so.

[2020-07-19 11:09] jeditrial opened #144 "[FEATURE] Earliest data available."
As a user, I'd like to be able to know the earliest data available.

[2020-07-20 07:50] jgendrinal commented on #127
Weird that phisix doesn't have this yet.

[2020-07-20 08:00] jgendrinal commented on #127
Will use this to restrict stock calls for phisix -- http://phisix-api.appspot.com/stocks.json

[2020-07-20 09:45] enzoampil commented on #127
Good call

[2020-07-22 01:29] enzoampil opened #145 "Reformat example notebooks to follow fastpages formatting"
We'll need to format the notebooks in line with fastpages, so that they can automatically be added as blog posts properly to [fastquant-blog](https://github.com/enzoampil/fastquant-blog). Tutorial on fast pages formatting [here](https://fastpages.fast.ai/jupyter/2020/02/20/test.html).

[2020-07-22 01:31] enzoampil opened #146 "Sync fastquant notebooks to fastquant-blog w/ Github Actions"
Guidance can be found [here](https://github.com/fastai/fastpages/issues/357)

[2020-07-22 04:24] jpdeleon commented on #146
Similar to #80 .

[2020-07-22 04:25] jpdeleon opened #147 "Add date on xlabel of backtest plots"

[2020-07-23 03:36] enzoampil opened #151 "[FEATURE] fastquant blog launch"
Can access the WIP website here https://enzoampil.github.io/fastquant-blog/

Checklist
-  [x] At least one blog post with completed [checklist](https://github.com/enzoampil/fastquant/blob/master/CONTRIBUTING.md#contribute-a-tutorial-notebook-to-fastquant)
- [x] Working website
- [x] Tags for each of the modules (e.g. disclosures, data pull)
- [x] Basic homepage intro (use [fast.ai](https://www.fas

[2020-07-23 03:40] enzoampil commented on #70
@jpdeleon This is already in process. Since each of the notebooks will still require some additional work before being published (checklist [here](https://github.com/enzoampil/fastquant/blob/master/CONTRIBUTING.md#contribute-a-tutorial-notebook-to-fastquant)), I think we can break this up into separate issues for each of the blog posts that are still to be enhanced before publishing.

Will keep th

[2020-07-23 13:03] jgendrinal commented on #126
http://phisix-api.appspot.com/stocks.json

[2020-07-23 13:41] enzoampil opened #152 "[FEATURE] Store fastquant data in BQ"
So that we don't have to pull directly from phisix anymore. This will also be useful for alternative data sources.

[2020-07-24 07:43] benjcabalona1029 commented on #144
Related

[2020-07-26 05:45] enzoampil commented on #102
Just realized that there is a `PSEi` ticker on [phisix](http://phisix-api2.appspot.com/stocks.json) so this should be accessible already from phisix. However, there's still an issue since the table that contains sample data doesn't contain PSEi. Will address this in a subsequent PR.

[2020-07-26 06:12] enzoampil opened #153 "[BUG] Pulling 'FMETF' with get_stock_data doesn't work since it's not in the cached stock data csv"
This can be adressed by either adding `FMETF` to the cached csv or to default to an actual data pull when `FMETF` is used.

Also, I've confirmed that using `get_phisix_data`, and `get_pse_data_old` doesn't have any issues so these can be used while the bug is being fixed.

Error message:

[code]

[2020-07-26 06:19] enzoampil commented on #146
I've decided that we don't necessarily have to automate the transfer since it's very possible that there are notebooks that are very useful but not yet exactly "blog posts". Moving forward, I'm in favor of manually curating notebooks and converting them to blog posts as is necessary or preferred by the authors.

Will close this issue.

[2020-07-26 06:19] #146 closed

[2020-07-26 08:09] jpdeleon commented on #147
@rafmacalaba do you know a fix for this?

[2020-07-26 09:45] #145 closed

[2020-07-26 09:50] rafmacalaba commented on #147
@jpdeleon can you provide example

[2020-07-26 09:50] rafmacalaba commented on #152
BigQuery?

[2020-07-26 11:54] enzoampil commented on #152
Correct

[2020-07-27 01:58] enzoampil opened #155 "[FEATURE] Google Sheets / Excel support"
Bringing basic fastquant functions to excel and google sheets will be a key driver to adoption for non coders.

Top of mind, a potential approach would be a FaaS based API (e.g. using AWS Lambda), that will make the python functions available as API calls w/ minimal additional coding required.

[2020-07-27 11:19] noneadd2427 opened #156 "Trees"

[2020-07-27 13:08] enzoampil commented on #156
Hi @noneadd2427 , can you give more context on this issue? :smile:

[2020-07-27 13:30] noneadd2427 commented on #156
Hey could use some help this if you dont mind

[2020-07-27 13:31] enzoampil commented on #156
@noneadd2427 sure thing, but what seems to be the issue?

[2020-07-29 00:42] enzoampil commented on #101
This should also be able to support strategies that automatically "shift weights", like Markowitz potfolio optimization ([sample reference](https://plotly.com/python/v3/ipython-notebooks/markowitz-portfolio-optimization/))

[2020-07-29 00:42] enzoampil commented on #156
Closing this issue due to lack of clarity

[2020-07-29 00:42] #156 closed

[2020-07-29 13:01] enzoampil opened #157 "[BUG] Long queries using get_pse_data returning incomplete OHLCV values"
This issue is based on this [response](https://medium.com/@eecanabal/this-article-is-great-cc7b8990fc13) to the fastquant blog post on [Medium](https://towardsdatascience.com/access-philippine-stock-data-with-only-2-lines-of-python-309780382b8d?source=friends_link&sk=d4eab964eae7407a62690e4be1c165d7).

Hi Lorenzo!
I used the codes below:
[code]
Output:
[code]
For the "tail":
[code]
This is another

[2020-07-30 00:45] enzoampil commented on #151
Closing this since blog has been launched :smile:

[2020-07-30 00:45] #151 closed

[2020-08-01 03:00] Leez94 commented on #106
Hi!
I tried downloading 2010-2020 JFC data and it works fine.

[code]
Output

[code]

but when i use this code below, an error occurs.
[code]

error message:
[code]

[2020-08-01 10:27] enzoampil opened #160 "[FEATURE] Pull data for forex pairs"
We got a request from the community slack channel for the application of fastquant on forex data.

[2020-08-02 00:20] enzoampil opened #161 "[BUG] Pulling non PSE ticker using get_stock_data (e.g. found on yahoo) doesn't work"
This seems to be due to the file used during caching. It fails when the stock name is not found in the file.

My proposed fix is to  return None in `get_pse_data_cache` if the symbol is not found in the cache file's stock symbols. This should direct it back to `get_yahoo_data`

Example snippet
[code]

Error

[code]

[2020-08-02 01:13] enzoampil commented on #157
I realized from looking at our caching approach that this is actually expected behaviour since we seem to cache based on the output of `get_pse_data_old` but do data pulls with `get_pse_data` @jpdeleon . Let's revisit this approach soon to find a methodology that's more comprehensive for people who want to get any format :smile:

[2020-08-02 01:43] enzoampil opened #164 "[FEATURE] Make commission per transaction for `backtest` an argument rather than global variable"
It's important to have `commission_per_transaction` to be settable as an argument so that we can account for different commission schemes depending on the country and exchange. For now, I'll set the default to 0.75% per transaction which is similar to the current rate in PH.

[2020-08-02 01:47] jpdeleon commented on #147
@rafmacalaba the plots in README does not have the date in xlabel, unlike in typical backtrader plots e.g. [here](https://www.backtrader.com/home/helloalgotrading/)

[2020-08-02 01:48] jpdeleon commented on #157
Sure. I do not completely remember the details of how I wrote it but very open for a more robust implementation.

[2020-08-02 02:09] #164 closed

[2020-08-02 02:50] enzoampil commented on #24
Revisiting this issue as our features are getting more and more complex and we'll need more detailed docs. @jpdeleon I'm reassessing whether to use sphinx vs github-pages for our docs. What I like about sphinx is that we can auto-generate the docs by updating docstrings. Would you be able to elaborate on why github-pages would be easier to maintain? :smile:

[2020-08-02 03:05] enzoampil opened #168 "[FEATURE] ForecastStrategy request"
### [WIP Approach] to a customizable ForecastStrategy

This strategy would be our gateway to backtesting time series forecasting based strategies. A basic implementation would be with the [prophet](https://github.com/facebook/prophet) package by facebook, or time series classification with [sktime](https://github.com/alan-turing-institute/sktime).

**Input:**

`model` - A class that can `fit` and

[2020-08-02 21:46] jgendrinal opened #169 "[FEATURE] Align R and Python to Binance REST API"
While developing the R package version of fastquant, I encountered the official Binance REST API. Rather than rely on the cctx package for crypto data, we could reduce the dependency bloat on Python by using the official API instead.

[Link to Binance Official REST API](https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md)
[Link to part of REST API that might be re

[2020-08-02 21:46] jgendrinal commented on #169
Will resolve this in my next PR

[2020-08-03 01:00] #161 closed

[2020-08-03 12:30] enzoampil opened #170 "Technical tutorial on how to backtest custom data with fastquant"
### Tutorial notebook outline

**Tutorial title:** Backtest custom data with fastquant

**Tutorial summary:** fastquant is flexible and can be used to backtest datasets that are not necessarily pulled using fastquant itself. This tutorial will demonstrate how to do this.

Please use this checklist as a rough outline of prerequisites when submitting a new tutorial notebook to fastquant!

- [ ] Comp

[2020-08-03 23:54] enzoampil commented on #169
@jgendrinal heads up that recent PR #171 has the crypto exchange support to the top 6 exchanges :smile:

[2020-08-04 00:53] #153 closed

[2020-08-04 11:12] Leez94 opened #173 "[BUG] Multi-strategy"
I tried running the multi-strategy feature found in the example below but i encountered an error https://github.com/enzoampil/fastquant/blob/master/examples/2020-05-10-backtest_multi_strategy.ipynb

#### CODE

[code]

#### ERROR MESSAGE
[code]

[2020-08-04 11:31] rafmacalaba commented on #173
Hi @Leez94 thanks for sending/posting this bug report.

Have you updated your fastquant package? try running `pip install fastquant --upgrade`

[2020-08-04 11:33] enzoampil commented on #173
Thanks @rafmacalaba . @Leez94 Yes, can confirm it works on this colab [notebook](https://colab.research.google.com/drive/1J7EJq4vPar0-7yGWt2MsuZgzMB9OBn_G?usp=sharing) so the upgraded version should work 😄

[2020-08-04 11:36] enzoampil commented on #106
Thanks @Leez94 , yes, please just use the first snippet version for now while we sort out this issue :smile:

[2020-08-04 11:38] enzoampil commented on #106
@benjamincabalona1029 I actually realized that this issue of having the first year at 2010 is based on the file we use to cache our results (only backfilled to prior to 2010). To address this, we'll have to make pulls with start dates prior to 2010 work beyond the caching supported.

[2020-08-04 11:41] Leez94 commented on #173
Hi @rafmacalaba @enzoampil it worked perfectly now.
I just ran the `pip install fastquant` and I got the error - I guess the upgrade was necessary for the "multi" to work. Thanks!

[2020-08-04 11:48] enzoampil commented on #173
Very welcome @Leez94 and thanks for using fastquant :smile:

[2020-08-04 11:48] #173 closed

[2020-08-04 12:32] jpdeleon commented on #106
@enzoampil I didn't notice that the starting date requested above is 2010. I used "2010-01-01" as the default earliest date in data cache. May be we should archive all the way 2000 and this does not include volume data. We really have to query phisix for volume separately and add it to data cache.

[2020-08-04 13:42] enzoampil commented on #106
@jpdeleon yes, we can do that. Only hesitation from me is if the cache file gets too big; otherwise, should be fine :smile:

[2020-08-04 16:59] windowshopr opened #175 "How to pass Highs/Lows from DF to a Strategy?"
Hey!

Love the tool, just started using it. I see a lot of examples of how to apply some indicators to the closing price in the strategies.py file, but I'm curious because I want to build a strategy using the PSAR, and this requires the High and Low from the passed in DF as well. In the strategies.py file, there's a couple of format mapping examples of "c" and "cv" for I'm assuming the "close" pri

[2020-08-05 00:19] enzoampil commented on #175
Hi @windowshopr , thanks for using fastquant :smile:

Firstly, you are correct that our format mappings are stored in `DATA_FORMAT_MAPPING` and currently we don't support including highs and lows, or basically the metrics under the ohlcv format aside from `close` (c) and `volume` (v). We have an existing issue (#83) though to automatically infer the data format based on the column so that any perm

[2020-08-05 00:41] enzoampil commented on #83
Prioritizing this as we've been getting requests for strategies that go beyond "closing" based indicators.

[2020-08-05 00:50] jpdeleon commented on #143
related to #106

[2020-08-05 00:51] enzoampil opened #176 "[FEATURE] Add templates for requests for new "strategy", and "data source""
Adding a template for new strategies and data sources, will add clarity on the type of feature requests that we have.

[2020-08-05 01:32] jpdeleon opened #177 "update portfolio notebook"
Update portfolio [notebook](https://github.com/enzoampil/fastquant/blob/master/examples/2020-06-20-basic_portfolio.ipynb) to show fastquant's [portfolio class](https://github.com/enzoampil/fastquant/blob/master/python/fastquant/portfolio.py).

[2020-08-05 02:04] benjcabalona1029 commented on #177
Thanks Jerome. I'll do this + the proper update for the fastquant blog. Thanks!

[2020-08-05 02:32] enzoampil opened #178 "[FEATURE] Tutorial on how to contribute a new strategy"
Our `CONTRIBUTING.md` doesn't have an easy to follow tutorial on how to contribute strategies on `strategies` a concrete tutorial will make it a lot easier for interested contributors to jump in and add their strategy to the library :smile:

[2020-08-05 03:15] windowshopr commented on #175
Incredible answer, thank you so much.

Let me play with creating the strategy locally and refer to the resources you sent me first so I can ensure I get it working first. I've already played with creating my own strategies based on the moving averages that use the "c" price passed to it already, so I want to try and create a basic strategy like the PSAR for some other columns as well. I will close

[2020-08-05 03:15] #175 closed

[2020-08-05 03:18] enzoampil commented on #175
Thanks @windowshopr and best of luck!

[2020-08-05 04:34] windowshopr commented on #175
@enzoampil  Alright, I had some time tonight, and I'm stumped on where I'm going wrong, hoping to get some insight.

So in `strategies.py`:

1. I added the following under `DATA_FORMAT_MAPPING = {`:

[code]

2. I added the following data variables:

[code]

3. My custom PSARStrategy class looks like this (and I think this is where something might be incorrect):

[code]

4. Added `"psar": PSARStrat

[2020-08-05 05:34] enzoampil commented on #175
Can you post your code used and the full logs, and the picture if possible? 😁

[2020-08-05 05:46] enzoampil commented on #175
@windowshopr Ah I think it might be the format parameter.

When you call the `backtest` function, can you set `data_format="ohlcv"`.

This has to be explicitly set for now, but we're working no automating it in a coming release 😁

[2020-08-05 05:53] windowshopr commented on #175
@enzoampil   THAT'S EXACTLY WHAT IT WAS! THANK YOU THANK YOU THANK YOU!

Worked like a charm! No need for a pull request, feel free to just add that strategy to the next round of improvements! I should mention that I used the line `psar = bt.ind.PSAR(self.datas[0], period=self.period, af=self.af, afmax=self.afmax)` in the strategies.py file. Ah can't wait to play with it now haha thanks a lot for

[2020-08-05 06:24] enzoampil commented on #175
Welcome @windowshopr glad to have helped ! Sure you don't want to send a quick PR? 😄 I can add you as a collaborator to make it simpler as well. But no worries as well if no!

[2020-08-05 06:57] windowshopr commented on #175
@enzoampil  haha well, perhaps, if you can be a hero one more time and help me debug this last issue.

I've posted a minimal example of the code I'm testing below so that anyone can run it, so long as the PSARStrategy has been made as described above in the strategies.py file.

Basically, I download a dataset, split it into train and test sets, and then attempt to run the backtest() function on bo

[2020-08-05 10:27] enzoampil commented on #175
Isn't the error coming from here?

[code]

[2020-08-05 12:42] jpdeleon commented on #177
@benjamincabalona1029 you can add this [similar demo](https://portfolio-optimizer.pyviz.demo.anaconda.com/portfolio) in the notebook :)

[2020-08-05 12:49] benjcabalona1029 commented on #177
@jpdeleon okay. I think this is rendered with Voila?

Btw @enzoampil  should i reorganize the notebook to NOT include the introductory sections? (i.e. quick stock market 101, definition of returns, etc. ) The original audience of my notebook/presentation are not actually "finance" people.

[2020-08-05 13:08] jpdeleon commented on #177
@benjamincabalona1029 I do not know but it looks awesome!

[2020-08-05 15:20] enzoampil commented on #177
@benjamincabalona1029 I think the introductory sections are GREAT and are a big part of why it's such a great post :smile: Let's keep it!

[2020-08-05 16:55] windowshopr commented on #175
I FIGURED IT OUT!

It's because of the function I was using for creating ranges with floats, the test run didn't like it for some reason. So I replaced:

[code]

...with...

[code]

and got rid of that range_with_floats function and it worked! I'm thinking maybe it worked as needed during the first run, but when that function was called again, it was trying to "yield" more floats from the end of i

[2020-08-06 00:30] windowshopr commented on #175
Ok here is my contribution, a bit of an example script. I put a great deal of effort into comments so it's easy to follow for a newbie. I also have some notes near the top comment section about some of the little bugs currently present in it, but as is, it should run for anyone. If one wanted to use the 'psar' strategy, they would need to follow the steps in our above work, but I have it set now t

[2020-08-06 01:05] enzoampil commented on #175
Thanks heaps @windowshopr ! I can add these to the example scripts and will make sure to reference you and this issue in the notebook :smile:

Hope to see you again soon!

[2020-08-06 12:46] ajdajd commented on #132
- [ ] update fork
- [ ] change dataframe serialization from pickle to csv
- [ ] slack notification
- [ ] write as a .py file
- [ ] cron job

Possible next steps:

- Practice with free gcp
- Write blog post/notebook on how to set it up?

[2020-08-07 08:53] rolo opened #182 "[FEATURE] Scaling in / averaging in / pyramid orders"
I'm mentioning this now as it's along the same lines as the stop loss and take profit parameters discussed in slack. It would be great to see support for strategies to be able to scale in and out of positions when they get a signal. So you could pass some parameters to tell your strategy to split your buy into x orders when a buy signal arrives, spread to x% below the current price.

This adds som

[2020-08-07 10:21] giacobana opened #183 "[BUG] Change of plot design Matplotlib"
#### Problem description

Once the fastquant package is imported to a python script the design of matplotlib plots changes significantly...

#### Example

[code]
#### Expected behavior

Once the fastquant package is imported the plotted graphs look totally different. They have thicker lines, other colors and are harder to read...

#### Environment

-  platform (e.g. Linux, OSX, Windows): OSX
-  li

[2020-08-07 10:27] jpdeleon commented on #183
For reference:
![image](https://user-images.githubusercontent.com/15188345/89636672-efc40c00-d8e3-11ea-8c2f-910cd2009c89.png)
![image](https://user-images.githubusercontent.com/15188345/89636686-f6528380-d8e3-11ea-9405-e41918c9d2ea.png)

[2020-08-07 10:59] enzoampil opened #185 "[FEATURE] Add stop loss and take profit as general `backtest` parameters"
Currently, `backtest` does not allow users to specify the target profit / stop loss at which positions are exited. This can also be done at the strategy level, but I also realized (from feedback from one of our users) that this is a parameter that is likely generalizable across strategies.

[2020-08-07 11:00] #183 closed

[2020-08-07 11:37] jpdeleon commented on #142
Fixed by #174

[2020-08-07 11:37] #142 closed

[2020-08-07 11:42] jpdeleon commented on #98
Outdated.

[2020-08-07 11:42] #98 closed

[2020-08-07 11:42] #83 closed

[2020-08-07 11:44] jpdeleon commented on #74
@enzoampil can you quickly resolve this so we can close.

[2020-08-07 12:51] enzoampil commented on #74
As a quick fix, I just changed to requesting for fastquant version.

[2020-08-07 12:51] #74 closed

[2020-08-07 13:31] jpdeleon commented on #147
I tried to reproduce the plot using the code in the link above but the dates are still not visible. I guess the date label is there but somehow gets obscured due to improper rendering of the plot.

[2020-08-07 13:58] jpdeleon opened #186 "[FEATURE] make backtesting assumptions explicit"
There are several assumptions used in `backtest` such as BUY_PROP=SELL_PROP=1. We can just print them out every run to be more explicit.

[2020-08-07 23:15] #177 closed

[2020-08-10 07:43] jgendrinal opened #190 "[BUG] get_stock_data not working as expected in R package"
phisix no longer returning runs for get_stock data, flags the following error:
[code]

#### Expected behavior
get_stock_data should return the a tibble containing the relevant information

[2020-08-10 07:55] #190 closed

[2020-08-10 07:55] jgendrinal commented on #190
False alarm

[2020-08-11 01:26] enzoampil opened #191 "Add Custom Strategy Example to README"
A shortened version of the Prophet [example](https://colab.research.google.com/drive/1MuouN-nH-b6hXTDi15QKlltQUkHkek3b?usp=sharing) can work. Can refer to recently merged PR (#189) for details.

[2020-08-11 01:28] enzoampil opened #192 "Add Custom Strategy Notebook / Technical Tutorial"
### Tutorial notebook outline

**Tutorial title:** Backtest your forecasts with fastquant

**Tutorial summary:** We use the Prophet package to make baseline forecasts and use those as a custom indicator for fastquant.

Please use this checklist as a rough outline of prerequisites when submitting a new tutorial notebook to fastquant!

- [ ] Complete [front matter](https://github.com/fastai/fastpage

[2020-08-11 11:12] jgendrinal commented on #169
@enzoampil will close this issue. Feel like it would be better to connect using REST APIs in R.

[2020-08-11 11:12] #169 closed

[2020-08-11 12:29] jgendrinal commented on #129
For submission in next PR

[2020-08-11 14:51] #191 closed

[2020-08-11 23:28] enzoampil commented on #192
Will base this one the colab [notebook](https://colab.research.google.com/drive/1MuouN-nH-b6hXTDi15QKlltQUkHkek3b?usp=sharing) used to test the corresponding PR.

[2020-08-12 01:37] TravelingTechGuy opened #195 "[BUG]"
#### Problem description

`ImportError: cannot import name 'get_stock_data'`

Full Traceback:
[code]
#### Example

[code]

#### Expected behavior

Supposed to run.

#### Environment

-  platform (Windows 10 WSL2 running Ubuntu 18.04.5 LTS):
- Python version (3.6.9)
-  fastquant version (latest)
-  installation method (pip  20.2.2)

[2020-08-12 12:23] enzoampil commented on #195
Hi @TravelingTechGuy , thanks for using fastquant! From what directory are you running python?

Can you tell me what you get when you run the code below:
[code]

[2020-08-12 14:23] #129 closed

[2020-08-12 15:22] TravelingTechGuy commented on #195
Running this code in the same file's directory yields the directory name I'm in `"/c/Users/test/"`.

What were you suspecting/hoping it'd show?

[2020-08-12 15:42] enzoampil commented on #195
Right, I'm wondering why there's a `fastquant.py` in your current directory. Do you mind navigating to a different directory and running your script again there?

[2020-08-12 16:16] TravelingTechGuy commented on #195
I tried navigating to the parent directory - same result.

I then tried using `venv` (virtual environment), installed fastquant in it - and am still getting the same error.

I feel that I'm doing something wrong, but I'm not sure what 😟 (I'm a Node developer - I touch Python only when I have to).

[2020-08-12 18:27] TravelingTechGuy commented on #195
Ok, figured it out. I called my file `fastquant.py`. Upon running it in a VENV, I noticed the last line:

[code]

I realized that what threw this off was that the name of my file was the same as the name of the library! Upon changing the file name to `test.py` all is running well.

I'm not sure if there's something that needs to be done in the library to protect from circular import, or just a war

[2020-08-12 18:27] #195 closed

[2020-08-13 11:47] enzoampil opened #198 "[BUG] KeyError: 'volume' when running custom strategy"
Error code below when running custom strategy on a dataframe with no volume column.

[code]

[2020-08-13 12:32] #198 closed

[2020-08-13 13:35] enzoampil opened #200 "[BUG] Grid search returning error: TypeError"
TypeError is being returned when using Grid search on a simple backtest.

[code]

[2020-08-13 13:38] enzoampil commented on #200
Seems that this is an issue from adding the `commission` parameter to `BaseStrategy` recently. Will also make sure to add a grid search test case in `test_strategies` as this should have been caught in our tests.

[2020-08-13 14:06] #200 closed

[2020-08-13 14:37] enzoampil opened #202 "[FEATURE] How to control the size plots when backtrader plots are embedded into notebook output"
Currently, it's common to have workflows where backtrader plots are rendered straight from a jupyter or colab notebook. The issue is that the size of the plot is quite small by default, which makes it difficult to see through the busy contents of the backtesting results.

 It would be great if `backtest` could have a `figsize` argument similar to `matplotlib.pyplot`, where the default is much bigg

[2020-08-13 14:39] enzoampil commented on #202
Sample default size:

![image](https://user-images.githubusercontent.com/39557688/90148298-c4df2980-ddb5-11ea-9166-76305fcde6f4.png)

[2020-08-13 23:47] enzoampil opened #203 "[FEATURE] Add super quiet logging, for manageable outputs when using grid search"
The default logging when verbose is `False` is still quite verbose, yet still very much useful for a lot of cases. I propose to add a new setup where verbose is an integer, indicating different levels of verbosity.

`verbose=0` should be  minimal, returning only the final portfolio value, PnL, and optimal results & parameters. `verbose=-1` will print absolutely nothing!

Levels -1 and 0 will be a

[2020-08-14 00:09] enzoampil opened #204 "[FEATURE] Add custom ternary strategy (buy, sell, hold)"
It would be great to have a custom strategy where I can have a basic mode that is only either buy, neutral, sell (-1,0, 1). The point of `TernaryStrategy` is for cases where the indicator is already very definite in terms of its recommendation.

We basically give the user the power to create an indicator, independent of basis, that just says when to buy, sell or hold. Of course, the is more likely

[2020-08-14 00:26] jpdeleon commented on #202
I looked into this problem and found a solution below.
We just need to add these lines on top of the jupyter notebook.
[code]
Documentation: https://matplotlib.org/3.3.0/tutorials/introductory/customizing.html
We may be able to set this global config automatically if code is being run in jupyter but there may be [caveats](https://stackoverflow.com/questions/15411967/how-can-i-check-if-code-is-exec

[2020-08-14 00:32] jpdeleon commented on #185
Related: https://www.backtrader.com/blog/posts/2018-02-01-stop-trading/stop-trading/

[2020-08-14 00:35] enzoampil commented on #202
Understand @jpdeleon . Thanks will use this as quick fix. I think this should be automated as much as possible straight from `backtest`.

Yeah, think it makes sense to start chipping away at these plotting issues. Really affects the UX of the tool.

[2020-08-14 00:37] enzoampil commented on #202
Also, great to refer these two relevant threads on backtrader docs: [link1](https://community.backtrader.com/topic/291/ipython-notebook-plot-sizing/5), [link2](https://community.backtrader.com/topic/22/plot-maximize-windows/2)

[2020-08-15 00:52] enzoampil opened #209 "[FEATURE] Support for out of sample backtesting (open for discussion)"
Right now, we give users the ability to "optimize" their strategy parameters with the grid search functionality of fastquant.

However, these optimal parameters were derived "in-sample" and we still have to validate if they would work outside of the data that it was trained on ("out-of-sample"). It could be useful to have out-of-sample "testing" doable automatically doable from `backtest`.

In the

[2020-08-15 04:20] jpdeleon commented on #1
Related #187

[2020-08-15 05:46] enzoampil commented on #1
Since above functionality is already available with the latest PR, I'm okay closing this :smile:

[2020-08-15 05:46] #1 closed

[2020-08-15 13:07] #108 closed

[2020-08-16 02:23] jpdeleon opened #212 "[FEATURE] add proper versioning and change log"
We should add proper [pip versioning](python.org/dev/peps/pep-0440/) and change logging (e.g. [pip change log](https://pip.pypa.io/en/stable/news/)).

Also, use pip
[code]
in doc and jupyter notebooks to make sure to use the most updated version.

[2020-08-16 09:30] enzoampil opened #214 "[FEATURE] Plotting control from backtest to choose which plot get shown"
Right now, the plots are very busy and among others include:

1. Indicator plots
2. Portfolio value plot
3. Buy and sell arrows on closing price plot

It would be great if users could control which plots get used straight from `backtest`. Still thinking about how to implement this in a way that isn't too clunky in terms of added parameters to the function.

[2020-08-16 20:39] ajdajd commented on #132
- [ ] Figure out how to trigger unique webhook from inside fastquant
- [ ] Add checks and fixes if daily updates were broken
- [ ] Find a way to insert a HOLD notification

[2020-08-17 01:41] enzoampil commented on #212
Relevant resources

https://semver.org/
https://keepachangelog.com/en/1.0.0/
we've been using release-drafter in asimov: https://github.com/release-drafter/release-drafter

[2020-08-18 09:35] leobaumgardt opened #215 "Add cash during run?"
How can I add cash every month during backtesting?

I'd like to backtest a strategy that looks like this:

1. Every month, another $1,000 is added in cash. Say, surplus from my salary. Let's call this "income".
2. While the algorithm does not buy any more stock, my income accumulates.
3. Once tha algorithm decides to buy stock, it will use...
a) all of the available cash on hand.
b) a pre-determin

[2020-08-18 12:00] enzoampil commented on #215
@leobaumgardt thanks for using fastquant!

1. We don't have an `income` feature yet, but we can add this as a feature request. Top of mind, you can set an "income" amount, with a specified "fequency".
2. Same as 1
3. You can already set the proportion of your cash that you use to buy. This is set with the `buy_prop` parameter in `backtest`, which is set to 1 (100%), by default.
4. Makes sense, you

[2020-08-19 01:16] enzoampil commented on #124
`history` dataframes to include:

- [ ] **orders** - order information
- [ ] **trades** - information on closed trades
- [ ] **cashvalues** - periodic cash balance and portfolio value
- [ ] **indicators** - all the indicator time series used and/or derived in `backtest`

Making above accessible will allow fastquant to cater to custom exploratory data analyses (EDAs) for trading strategies. This sh

[2020-08-19 01:35] enzoampil commented on #168
Still have work to do if we want to integrate out of sample forecasting into fastquant, but the basic version should be sufficient. Will close this for now.

[2020-08-19 01:35] #168 closed

[2020-08-19 01:36] enzoampil commented on #160
I see this as low effort high value. Expands to forex investors.

[2020-08-19 01:40] enzoampil commented on #124
Will close this for now, and will add separate Issues for each of history types above!

[2020-08-19 01:40] #124 closed

[2020-08-19 01:41] enzoampil opened #216 "[FEATURE] Add remaining history types to backtest given return_history"
- [x] **trades** - information on closed trades
- [x] **cashvalues** - periodic cash balance and portfolio value
- [x] **indicators** - periodic indicator time series used and/or derived in backtest

[2020-08-19 01:44] enzoampil opened #217 "[Documentation] Add docs on "global parameters" set in backtest and their default values"
This will make the `backtest` function more "usable" in a general context by informing users on how to edit these parameters to fit their use case.

[2020-08-19 01:44] enzoampil commented on #186
Related to #217

[2020-08-19 01:48] jpdeleon commented on #217
Related to #186

[2020-08-19 08:05] leobaumgardt commented on #215
Thank you!

On Tue 18. Aug 2020 at 14:00 Lorenzo Ampil <notifications@github.com> wrote:

[2020-08-20 00:47] enzoampil opened #218 "[FEATURE] Make fastquant installable from conda environment"
Based on recent request on one of our medium [posts](https://medium.com/@thalesbmarques/great-library-could-you-host-this-on-anaconda-environment-8968672dbd25)

[2020-08-20 09:24] jpdeleon opened #220 "[FEATURE] rebalancing"
Support backtesting to determine optimal periodicity for portfolio rebalancing.

[2020-08-20 09:25] jpdeleon opened #221 "[FEATURE] simultaneous optimzation"
enable simultaneous optimization of portfolio containing mutiple strategies

[2020-08-20 10:20] jpdeleon opened #222 "[FEATURE] allow fractional trades in crypto"
Currently, `backtest` only allows buying and selling integer units of stocks.
So the code below will not show any trade:
[code]
In bitcoin transactions however, fractional units are common.
So we should introduce a parameter in `backtest` that allows this.

[2020-08-20 10:24] jpdeleon opened #223 "[FEATURE] risk parity in portfolio"
Add risk parity using [riskparity.py](https://github.com/dppalomar/riskparity.py) in [portfolio.py](https://github.com/enzoampil/fastquant/blob/master/python/fastquant/portfolio.py).

[2020-08-20 13:43] enzoampil opened #224 "[FEATURE] Realtime deployment of fastquant (notifications)"
Will build on top this existing PR #219

[2020-08-20 13:46] enzoampil opened #225 "[FEATURE] Multi signal w/ voting strategy"
Will involve multi signals and will consider existing multi-strategy

[2020-08-21 02:09] jpdeleon commented on #222
@enzoampil any thoughts on this? Is this a high priority?

[2020-08-21 02:32] enzoampil commented on #222
@jpdeleon Good point on this. My current thought is not so much since I think people typically focus on % return, and so won't mind just using the default init_cash. Although, I do see this as a potential issue since the price of one bitcoin is so large, so even with 100K default, a lot of cash could be left unutilized in the backtest.

I agree that this should be high priority since it's likely a

[2020-08-21 02:43] jpdeleon commented on #141
@jgendrinal , are you familiar with `[portfoliobacktest](https://github.com/dppalomar/portfolioBacktest)` in R? Just saw it today.

[2020-08-21 23:25] enzoampil opened #228 "[BUG] Tests failing due to sentiment strategy data pull"
It seems that the data pull for the sentiment strategy is broken, and causing it to fail during the tests. I suggest we switch from doing the scraping every time we run the tests, to saving a sample file of the scraped sentiment data (in csv), and just use this file for testing :smile:

TravisCI error messages below:

[code]

[2020-08-22 02:35] #228 closed, assigned to jpdeleon, rafmacalaba

[2020-08-22 13:28] francisadrianviernes opened #232 "[FEATURE] sector filter method"
Would love to see a feature that filter stocks according to their sectors (e.g. Property, Mining, Banking, Holdings, etc) and to calculate industry averages (e.g. industry P/E, industry, Div Yield, industry Alpha) as stock performance are better compared against industry/sector levels.

[2020-08-23 04:37] #232 closed, assigned to nobody

[2020-08-24 00:06] enzoampil commented on #185
Will address the two sub-features below

- [ ] Stop loss
- [ ] Take profit

[2020-08-24 01:08] enzoampil commented on #185
I will apply the two versions below, similar to the backtrader [sample]()

1. Either having a `Stop` fixed at a percentage below the acquisition price
2. Or setting a dynamic `StopTrail` which chases the price as it moves (using points in this case)

[2020-08-25 13:00] prasanth-m opened #234 "[FEATURE] MINUTE based custom strategy"
As sample custom strategy with 1 min data to build and test 5 min or 10 min time frame based systems using previous or highest peak of current day as target and previous or lowest trough day as stop loss for long and vice versa for short with number of peaks and trough to trace back as params in grid search.

[2020-08-26 06:42] enzoampil opened #235 "[FEATURE] Make yahoo finance the default for get_stock_data"
With our new direction of prioritizing more generally usable features, I think it makes sense to make `get_stock_data` default to yahoo finance instead of pse. So make the logic so that if the ticker is not detected in yahoo finance, only then does it query for PSE.

Also, given this change, I think the best format would be the standard `OHLCV`. If it resorts to `phisix` we just bring it back to `

[2020-08-30 11:58] enzoampil opened #236 "[FEATURE] Shorting support"
Currently fastquant only support long position trades. Forex use cases will definitely need shorting, and we'll need a separate handling for closing short and long positions

[2020-08-30 13:07] enzoampil commented on #217
@jgendrinal Docusaurus :smile:

[2020-08-30 13:12] aescay opened #237 "[FEATURE] Usage Analytics"
**Describe the solution you'd like**

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-08-30 23:26] enzoampil commented on #24
@jgendrinal proposing to use docusaurus :smile I'm okay giving you full creative freedom here. Choose the platform you want!

[2020-09-01 09:50] #152 closed

[2020-09-01 09:50] enzoampil commented on #152
Will close this in line with the decision to focus on **official** APIs and so we won't need to store anything ourselves.

[2020-09-01 16:15] ggerber opened #238 "[BUG] Sentiment example different results"
When running the sentiment example
[code]
The results are different from what is shown
https://github.com/enzoampil/fastquant/blob/master/docs/assets/sentiment.png
[code]

[2020-09-02 01:59] rafmacalaba commented on #238
@ggerber yes it would be different, as the timespan of `page_nums` scraped from `get_bt_news_sentiment` will not cover earlier trades.

[2020-09-02 01:59] #238 closed

[2020-09-09 12:55] jgendrinal opened #240 "Put `backtest` functionality ahead of `get_*_data` in documentation"
Will edit README to put `backtest` ahead of all the `get_*_data` functions.

[2020-09-10 01:18] francisadrianviernes opened #241 "[FEATURE] Access the PSE Index returns"
Is there a way to pull in the returns of PSEI or rather the end of day index values like normal stocks. This is needed to calculate the Beta which I plan to write an article about. Thank you.

[2020-09-10 01:30] enzoampil commented on #241
Hi @francisadrianviernes , are you okay using FMETF for now? Otherwise, you can also wait for us to integrate the PSEi numbers into fastquant :smile:

[2020-09-10 02:21] francisadrianviernes commented on #241
Hi @enzoampil , thanks for the quick reply. I prefer to wait for the PSEi numbers. The wait is worth it as I plan to show it to finance professionals who can be a snob if we deviate to the theory that they know 😄

[2020-09-11 15:57] enzoampil opened #242 "[FEATURE] Create DockerFile for easy setup"
Having a fastquant docker container will make the dev experience more consistent across different machines.

[2020-09-13 08:04] jgendrinal opened #243 "[FEATURE] Document beautifully with docusaurus"
https://docusaurus.io/en/

[2020-09-13 08:06] #243 closed

[2020-09-13 08:07] jgendrinal commented on #24
https://docusaurus.io/en/

[2020-09-13 08:07] jgendrinal commented on #24
Will make a new draft PR for this

[2020-09-13 17:46] Rwoelfel3 commented on #243
Unsubscribe
On Sunday, September 13, 2020 Jose Endrinal <reply@reply.github.com> wrote:

Closed #243.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-13 23:44] #242 closed

[2020-09-15 07:40] deepettas opened #246 "[BUG] Sentiment strategy backtest results in AttributeError"
#### Problem description

Following the example on the readme about using sentiment to backtest, I sumbled upon this error:
`AttributeError: 'BarContainer' object has no attribute 'get_zorder'
`
It seems to be a backtrader error.
 I made sure to use the versions proposed in the requirements.txt file
#### Example

[code]

#### Expected behavior
Same as the other backtests

#### Environment

-  plat

[2020-09-16 00:10] rahulmr opened #247 "[FEATURE] Back test for Opening Range Breakout or Inside Bar or Time Range Breakout Day Trading Strategies"
**Is your feature request related to a problem? Please describe.**
There are many price action strategies which is used by many traders but I found no such module to perform backtesting on it.
Mostly back testing is done on 1 day time frame and also using all lagging indicators.
It will be great to have such back testing methods.

**Describe the solution you'd like**
1 min data is available for ma

[2020-09-16 04:10] rafmacalaba commented on #246
Hi @deepettas thanks for raising this bug issue, this is occuring because of the inconsistencies of the dates in the data and the sentiments.

I'm going to add to the backtest documentation to have the current date and timedelta for the start  and end dates for this to not confuse other users that are using fastquant.

Thanks for using fastquant and I hope you'll find it useful :D

[2020-09-16 14:39] enzoampil commented on #234
This makes sense @prasanth-m . I'm just wondering, what's the buy signal for this strategy?

[2020-09-16 14:48] enzoampil commented on #247
Hi @rahulmr , thanks for checking out fastquant!

Actually, 1 min level data should already be usable for `backtest`; although, we don't have data pipelines pulling data at this level of granularity. Happy to get contributions on this :smile:

For the proposed strategies, I think these are great and definitely doable to integrate on fastquant! Would you have reference links that describe each of t

[2020-09-16 15:03] jpdeleon commented on #247
FYI 1 min data is available in crypto data already via `get_crypto_data`; just specify `time_resolution` ='1m'

[2020-09-16 15:06] jpdeleon opened #248 "[BUG] extra columns in backtest output"
`channel` and `symbol` columns still show up in metrics_df output from `backtest`

[2020-09-16 15:50] enzoampil commented on #247
Ah yes thanks @jpdeleon ! So we have it for crypto but not for stocks :smile:

[2020-09-17 00:43] prasanth-m commented on #234
@enzoampil As like stop loss and target , we will go the dynamic entries.
1) Buy when two of most recent peak is broken.
2) Sell when two of most recent trough is broken.

[2020-09-20 03:14] rafmacalaba commented on #235
I'm taking this.

[2020-09-21 02:19] dennislwm commented on #248
hi,
can i take this one?

[2020-09-21 04:01] enzoampil commented on #248
@dennislwm Yes, you definitely can! To fix this, you just have to exclude the `channel` and `symbol` columns in the `metrics_df` dataframe (this [line](https://github.com/enzoampil/fastquant/blob/48d32bd5ab255892ac076b3db9198a753721c2a3/python/fastquant/backtest/backtest.py#L350)) and send over a PR!

Contribution guide [here](https://github.com/enzoampil/fastquant/blob/master/CONTRIBUTING.md#get-

[2020-09-21 09:15] dennislwm commented on #248
Thank you. Could you share the code that reproduces the above dataframe?

[2020-09-21 10:21] enzoampil commented on #248
@dennislwm  You can test it out yourself by running the backtest function, which will have multiple rows when you use multiple argument inputs :smile:

[code]

[2020-09-24 00:01] #235 closed

[2020-09-25 00:30] #246 closed

[2020-09-26 03:06] rafmacalaba commented on #203
self-assigning this.

[2020-09-26 03:11] rafmacalaba commented on #123
@enzoampil I'm taking this on behalf of @jpdeleon.

[2020-09-27 16:14] alexgorbachev opened #252 "Intraday data?"
Does Fastquant support intraday data? Not download but to bring my own.

[2020-09-30 02:01] jpdeleon commented on #252
Hi @alexgorbachev
Yes, fastquant works with intra-day data.
If you feed your data to `backtest` for example, make sure it is a pandas dataframe with appropriate column names like this [file](https://github.com/enzoampil/fastquant/blob/master/python/fastquant/data/JFC_2010-01-01_2019-01-01_OHLCV.csv).

[2020-10-04 02:18] #248 closed

[2020-10-05 14:05] jgendrinal opened #254 "Risk management analyzers"
Adjust the following analyzers to reflect values:

1. **Sharpe ratio** - Change `timeframe` parameter to weekly Sharpe ratio by default
2. **Drawdown** - Add drawdown analyzer
3. **Time Draw Down** - Add n-day drawdown analyzer

[2020-10-05 23:22] ghost opened #257 "[BUG] SharpeRatio analyzer only returning None"
SharpeRatio timeframe parameter default is in TimeFrame.Year. Because our data does not cover several years, we are unable to produce a Sharpe Ratio.

Task is to change timeframe without breaking the whole backtest.py module.

Raised in PR #256

[2020-10-05 23:52] #254 closed

[2020-10-06 00:18] jgendrinal commented on #236
I'll take a stab at this next

[2020-10-06 08:52] enzoampil commented on #236
Let's pair on this @jgendrinal . There will be a lot of implications on this side haha

[2020-10-06 12:49] jgendrinal commented on #236
You've probably seen [this example](https://www.backtrader.com/blog/posts/2016-12-06-shorting-cash/shorting-cash/) for SMAC already. Let me know if I'm on the right track

[2020-10-06 15:28] jgendrinal commented on #223
Oh wow, this is great! Could you walk me through this one time @jpdeleon?

[2020-10-07 10:02] dennislwm commented on #126
can i take this one?

[2020-10-07 10:50] enzoampil commented on #126
@dennislwm Sure thing! Although, I'd focusing on the list from [Yahoo finance](https://finance.yahoo.com/) first :smile:

[2020-10-09 04:02] dennislwm commented on #126
I will do the pse first, yahoo finance seems daunting. What approach would you suggest for Yahoo?

[2020-10-11 05:59] benjcabalona1029 opened #260 "Unable to pull data for DITO"
[code]

The Error:

[code]

[2020-10-11 10:56] jbdelmundo commented on #212
Suggestion to add `contrib` directory for initial contributions (strategies, indicators, data, anything applicable) then moving to the main functionality once stable and tested.

[2020-10-11 14:14] jbdelmundo opened #261 "PositionIndicatorStrategy"
I come across this research paper long time ago that uses "position" indicators as signals on what to do in a market.

An additional "Strategy" that includes a column "position" which have values [1,0,-1] that is equivalent to [long/buy, neutral, short/sell]

For example:
The "position" column has 7 values for 7 days:  `[0,1,1,0,0,-1,-1,0]`
What it means is:

- Day 1: No action
- Day 2: Buy (Go to

[2020-10-11 23:47] enzoampil commented on #261
Agree, this should basically be `TernaryStrategy` once we add short selling support :smile:

[2020-10-11 23:48] enzoampil commented on #126
@dennislwm Merged PSE thanks! For Yahoo Finance, I believe this [resource](https://quant.stackexchange.com/questions/26162/where-can-i-get-a-list-of-all-yahoo-finance-stocks-symbols) looks like it can give guidance.

[2020-10-12 01:59] enzoampil commented on #212
hmmm @jbdelmundo can you clarify on this? Do you mean to have a copy of each module for "new" contributions, after which we move to the main?

Just wondering how this differs from having a separate branch? My view is if we want to have a **version** of fastquant, that has less tested and (potentially) less stable versions, these should be kept in a separate, say `develop`, branch rather than a dir

[2020-10-13 01:51] enzoampil commented on #236
@jgendrinal looks good! Actually the key to implementing shorting support is in relaxing some of the constraints in `BaseStrategy`. Currently we only trigger a sell order when `stock_value > 0`. I.e., shorting is not allowed (reference [line](https://github.com/enzoampil/fastquant/blob/b87e3a057594c607ff5107a18bce8e7d4f074efb/python/fastquant/strategies/base.py#L292)).

Theoretically, we can just

[2020-10-13 09:25] jgendrinal commented on #236
@enzoampil Expect my PR this week!

[2020-10-13 11:17] jgendrinal commented on #236
Also, I'll implement stop loss and stop trail for short selling in a future PR

[2020-10-14 01:32] ednicole12 opened #263 "[BUG] Cannot install fastquant using "pip install""
#### Problem description:
I tried to install fastquant using pip install in a virtual environment and it resulted to an error message

#### Example

C:\Users\User>fastquant\Scripts\activate.bat

(fastquant) C:\Users\User>pip install fastquant
Collecting fastquant
  Using cached fastquant-0.1.3.23-py3-none-any.whl (5.3 MB)
Collecting certifi==2019.11.28
  Using cached certifi-2019.11.28-py2.py3-non

[2020-10-14 10:10] jgendrinal commented on #263
@ednicole12 few things to try:

1. Is your pip upgraded to the latest version within your virtual environment?
`python -m pip install --upgrade pip`

2. Could you try installing with `python -m pip install fastquant`?

Let me know if either approaches help! :+1:

[2020-10-14 10:14] jgendrinal opened #265 "[FEATURE] Document recommended installation method"
Install python packages through the python interpreter by default

![image](https://user-images.githubusercontent.com/24620623/95975671-08ebba80-0e49-11eb-82ac-0fcc1bd0515c.png)

[2020-10-15 07:31] rafmacalaba commented on #265
just add python to PATH? this is babysitting

[2020-10-15 09:37] jgendrinal commented on #265
I get this, but I'm seeing this as the default recommended in a lot of packages now, and even in pip warnings when installing.

[2020-10-15 10:04] rafmacalaba commented on #260
![image](https://user-images.githubusercontent.com/30100644/96108908-b544a400-0f10-11eb-8209-7455c9078b10.png)

@benjcabalona1029 we defaulted our `get_stock_data` to yf, you need to change the source to "phisix"

[2020-10-15 10:04] #260 closed

[2020-10-17 10:04] jpdeleon commented on #265
The most fail-proof way to install the most updated fastquant version is
[code]
if via terminal, or
[code]
if inside jupyter notebook.

`python -m pip ...` will only differ from `pip ...` installation when pip/jupyter is somehow not in the same location as the python kernel (happens when multiple environments are present).

So I am ok with recommending `python -m pip ...` only that `pip ...` looks

[2020-10-18 03:01] rafmacalaba commented on #263
@ednicole12 hello, thanks for using fastquant.

any specific steps that you have taken for us to replicate your scenario/situation? e.g how did you create your own virtual environment,  your python version in creating it etc.

Thanks!

[2020-10-22 12:37] #252 closed

[2020-10-22 12:40] #157 closed

[2020-10-22 12:40] #155 closed

[2020-10-22 12:41] #126 closed

[2020-10-22 12:41] #121 closed

[2020-10-22 12:44] #52 closed

[2020-10-22 17:30] jgarifuna opened #270 "[BUG] get_twitter_sentiment() fails because datetime and pd not defined in fastquant/data/web/twitter.py"
#### Problem description

When running **get_twitter_sentiment()** from **fastquant/data/web/twitter.py** the operation fails for the following two reasons:

name '**datetime**' is not defined
-- this happens on line 61: new_tweets = [tweet for tweet in item if datetime.strptime(str(

name '**pd**' is not defined
-- this happens on line 79: tweet_df = pd.DataFrame([])

#### Example

[code]

#### E

[2020-10-22 23:11] enzoampil commented on #270
@jgarifuna thanks for this. Would you mind sending a PR for this change small change? Would be great to have you as a contributor 😀

[2020-10-23 04:34] enzoampil opened #271 "Feature total downloads instead of monthly downloads on readme"

[2020-10-23 05:14] #271 closed

[2020-10-23 07:22] jgarifuna opened #273 "[FEATURE] Is there a way to programmatically find the twitter accounts that may have mentioned a specific stock?"
**Is your feature request related to a problem? Please describe.**
For my first Twitter backtest sentiment, I had to manually go to Twitter.com and search for  “tesla” to see which accounts were talking about tesla. I then copied the account(s) from twitter.com and set it as a value (twitter_accounts = ['vincent13031925']) to be passed as a parameter to get_twitter_sentiment()

**Describe the solu

[2020-10-23 10:04] enzoampil commented on #273
thanks for posting this @jgarifuna !

@rafmacalaba This is also an interesting issue that you might want to take on, given your work on our NLP pipelines :smile:

[2020-10-24 15:17] dmnt3d opened #274 "[FEATURE] Is it possible to return a dataframe result in backtest?"
**Is your feature request related to a problem? Please describe.**
I'm trying to use Grafana visualization instead of in-built python for graphs. This will allow an interactive way of showing the data.

**Describe the solution you'd like**
Return dataframe results from backtest.

**Additional context**
Sorry. Pretty new with stocks and all. I've managed to plot historical close price data to Grafa

[2020-10-24 17:53] sgoley opened #275 "[FEATURE] Support Average True Range (ATR) from Backtrader"
Backtrader has an implemented indicator for the Average True Range:
https://www.backtrader.com/docu/indautoref/#averagetruerange

I'd like that indicator to be accessible within fastquant for either solo or multi-strategy backtests.

I could be wrong but it looks as simple to me as adding a mapping to the indicator in the backtrader library here:
https://github.com/enzoampil/fastquant/blob/master/

[2020-10-25 05:14] enzoampil commented on #275
@sgoley Hi Scott, you are exactly correct. You can easily utiliize ATR from backtrader by adding a new strategy in the [strategies](https://github.com/enzoampil/fastquant/tree/master/python/fastquant/strategies) module and adding it to the `backtest` function mapping :smile:

Can you let me know the specific use case you have for ATR? If it's to use it as basis for stop losses, we might want to in

[2020-10-25 05:22] enzoampil commented on #274
Hi @dmnt3d , thank you for using fastquant! Currently, we have a `return_history` parameter than you can set to `True` when you run you backtest, which will return a `dict` which contains some of the historical logs from the backtest, where each type of log is stored as a dataframe object.

In order to get the historical SMAC (in which case I assume you want the fast moving average, and slow movin

[2020-10-25 06:10] #265 closed

[2020-10-25 06:30] dmnt3d commented on #274
salamat sir @enzoampil

One last thing - I notice recent results for PSE only showed close prices (starting August this year from what I check). I'm missing high/low/open.

Is this expected?

[2020-10-25 06:37] enzoampil commented on #274
@dmnt3d yes, this is correct. We've recently fully switched to using the [phisix](https://github.com/phisix-org/phisix) API which only collects closing prices for PH stocks.

[2020-10-25 09:38] enzoampil opened #277 "[BUG] R Build spontaneously fails"
@jgendrinal Wonder what's causing this.

Error message from commit 4d25412ac462abfd3dd30c080f84351b5af3ff95:

[code]

[2020-10-25 14:15] #236 closed

[2020-10-25 20:25] jgendrinal commented on #125
@enzoampil @jbdelmundo should I delete this in favor of #24?

[2020-10-25 20:27] jgendrinal commented on #127
Kill this. This is what errors are for

[2020-10-25 20:27] #127 closed

[2020-10-25 20:28] jgendrinal commented on #277
New R dev version. Will resolve end of week

[2020-10-26 04:35] enzoampil commented on #125
go for it!

[2020-10-26 07:14] jgendrinal commented on #125
Closing this out in favor of #24

[2020-10-26 07:14] #125 closed

[2020-10-26 12:55] dmnt3d commented on #274
@enzoampil is there a way to switchback to the legacy way where we get the closing/low/high? What was the problem of the previous way of doing it?

[2020-10-26 14:46] #216 closed

[2020-10-26 14:46] #274 closed

[2020-10-26 14:48] enzoampil commented on #274
@dmnt3d You can can access the indicator history now using the latest PR :smile:

https://github.com/enzoampil/fastquant/pull/276

[2020-10-26 14:51] enzoampil commented on #274
@dmnt3d We decided to utilize an existing official API. If you want to use the old function which relies on scraping, feel free to  use the old function [here](https://github.com/enzoampil/fastquant/blob/1de45700e02b6ca86704301c28c5b306018bf27c/python/fastquant/data/stocks/pse.py#L115).

[2020-10-27 12:17] enzoampil opened #279 "[FEATURE] Create data pull interface for easy contribution of new pipelines"

[2020-10-28 09:41] jgendrinal opened #281 "Document hiatus of R support for fastquant"
- [x] Close all R-related issues
- [x] Close all R-related PRs
- [x] Clean out R code from R folder
- [x] Document hiatus status in README

[2020-10-28 09:42] jgendrinal commented on #277
#281

[2020-10-28 09:42] jgendrinal commented on #277
#281

[2020-10-28 09:42] #277 closed

[2020-10-28 10:57] jgendrinal commented on #141
#281

[2020-10-28 10:57] #141 closed

[2020-10-28 10:58] jgendrinal commented on #24
New fastquant-org/fastquant-doc repo!

[2020-10-28 10:58] #24 closed

[2020-10-28 10:59] #217 closed

[2020-10-29 00:41] #215 closed

[2020-10-29 18:52] jbdelmundo commented on #212
I agree @enzoampil . I think a `develop` and a `release` branch would be better instead of having a separate directory.

The `develop` branch would receive PR contributions. This branch is expected to be rapidly changing as PRs are merged into this branch.

To better manage versions, we can have a `release` branch where a group of changes from the `develop` will be updated as a new "version" of fa

[2020-10-29 19:09] jbdelmundo commented on #203
I asked permission from @rafmacalaba to assign to me

Currently planning to have different levels
0 - no output
1 - Strategy level: strat parameters, Final PNL, Strategy Summary
2 - Transaction level: All transactions
3 - Periodic Logging:  For every row in the data

[2020-10-29 22:10] jbdelmundo opened #285 "Refactor Backtest Function into components"
Refactor the `backtest()` function into smaller logical parts. This will allow us to manage further changes to each component

- Data Preprocessing (Handling of CSVs, columns, data formats etc)
- Strategy Preparation (strategy parameters, etc)
- Adding Analyzers (Returns, Sharpe, DrawDown, TimeDrawDown)
- Indicators, Transactions, Periodic History
- Plotting

# Note that the `backtest()` function

[2020-10-29 23:03] enzoampil commented on #285
Super agree @jbdelmundo . Backtest has grown to be quite unwieldy at this point.

[2020-11-02 00:39] #203 closed

[2020-11-02 00:57] #263 closed

[2020-11-02 00:59] enzoampil commented on #261
@jbdelmundo Now that we have short selling support, this can be done with `TernaryStrategy`. Just make sure to set `allow_short=True` when running `backtest`.

More details in this [PR](https://github.com/enzoampil/fastquant/pull/262).

I'll close this issue now that this is possible :grin:

[2020-11-02 00:59] #261 closed

[2020-11-02 01:14] enzoampil commented on #212
I think above is great for a lot of production environments. However, I'm realizing now that it might be overly complex for the current stage of fastquant. I'll revisit this at a later stage.

I think changelog announcements can be done whenever we decide to update fastquant on `pypi` since this is the closest we have to an actual release. This will be the first iteration of performing changelogs,

[2020-11-02 16:29] diogopublio commented on #170
Hello enzo, any updates here ?
Do you have any start material for that ?

[2020-11-02 23:29] enzoampil commented on #170
Thanks for messaging @diogopublio ! This is still in the backlog, but this should be doable with the code snippet below:

[code]

Do let me k now if this works for you!

[2020-11-03 17:55] jgendrinal commented on #285
:+1:

[2020-11-03 17:56] ghost opened #288 "[FEATURE] Link to fastquant-docs"
Create a link to the fastquant-docs [repo](https://github.com/fastquant-org/fastquant-docs)

[2020-11-04 01:42] diogopublio commented on #170
perfect! thank you so much!

[2020-11-05 06:40] pradnya-pradana opened #289 "can we get to Indonesian Stocks data?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-05 09:30] enzoampil commented on #289
Thanks @pradnya-pradana ! We can add an indonesian stock data pipeline as a feature request.

Would you have any official API's you could recommend? :smile:

[2020-11-07 04:30] #123 closed

[2020-11-07 08:55] #240 closed

[2020-11-12 09:23] enzoampil commented on #234
Minute level data should already be possible to use with `backtest`

[2020-11-12 09:23] #234 closed

[2020-11-12 12:13] enzoampil opened #291 "[FEATURE] Add comprehensive docstrings for backtest module"
These will be the first set of content for docusaurus.

[2020-11-12 12:14] enzoampil opened #292 "[FEATURE] Add markdown files for docs and reference files"

[2020-11-13 00:20] #285 closed

[2020-11-13 16:15] jbdelmundo opened #293 "[FEATURE] Web-app UI for backtesting"
**Is your feature request related to a problem? Please describe.**
Allow non-technical people (non-coders) to `backtest` their library.  Imagine a person who feels opening a terminal feels like hacking the NSA.

**Describe the solution you'd like**
A web-app (maybe flask?) interface to the fastquant library. They will just run a script, this will setup everything that may include
- environment (do

[2020-11-13 16:16] jbdelmundo commented on #293
Got this idea from here
https://www.facebook.com/100003007963357/videos/3140543862722515

[2020-11-18 13:39] enzoampil opened #295 "[FEATURE] Add cash income usage sample to readme"

[2020-11-22 19:13] homerjay88xx opened #296 "Getting PSE data"
I'm trying to get PSE data but can't really make your code work properly.

When I'm doing:
df = get_stock_data("JFC", "2020-01-01", "2020-11-01")

I get the following error:
1 Failed download:
- JFC: No data found for this date range, symbol may be delisted

If I'm doing:
df = get_pse_data("JFC", "2020-01-01", "2020-11-01")

It takes quite some time to get done and in the end I only have closing p

[2020-11-23 09:54] fjbriones commented on #296
I think you explicitly state in get_stock_data that the source should be "phisix" because it seems like the default is yahoo and it does not return None rather it returns an empty data frame so it does not automatically go to get_pse_data.

[2020-11-23 11:45] enzoampil commented on #296
Hi thanks for bringing up this issue. This should be pulling via phisix for PH stocks. Will add this to the backlog as a bug.

With regard to just getting closing prices, weve switched to utilising the phisix API for the pricing data and it only includes closing prices.

[2020-11-23 12:52] enzoampil commented on #296
@fjbriones In case you're interested, you can send over a PR for a suggested fix :smile: Happy to review and make sure it gets merged! :grin:

[2020-11-25 04:12] enzoampil opened #297 "[FEATURE] Allow backtest to utilize custom DataBase object from backtrader"
By default us `PandasData` as parent for `CustomData`, but can change parent as needed.

[2020-11-25 04:23] enzoampil opened #299 "[FEATURE] Implement dynamic datetime column when doing indicator post processing"
The line below from the [backtest](https://github.com/enzoampil/fastquant/blob/master/python/fastquant/backtest/backtest.py) module assumes that the indicator output has the same length as the input data. There may be cases later where certain indicators will have differences in length or will make calculations for future periods necessarily (e.g. forward predictions).

To account for this, it's b

[2020-11-25 05:24] enzoampil opened #301 "[FEATURE] Update readme w Tesla (TSLA) examples"
This is regarding the decision from moving from JFC, to TSLA as a default example stock.

[2020-11-25 05:25] enzoampil opened #302 "[FEATURE] Cleanup old files from repo"
After the big refactor from 2 months ago, we can now delete the old backup files.

[2020-11-25 08:46] #297 closed

[2020-11-25 08:46] #299 closed

[2020-11-25 14:52] enzoampil opened #308 "[FEATURE] Add email notif to the notifications module"

[2020-11-25 14:54] #308 closed

[2020-11-25 17:19] geyseragustin-md opened #310 "[FEATURE] OHLCV"
**Is your feature request related to a problem? Please describe.**
Hi is it still possible to get an OHLCV format?

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-11-25 23:34] enzoampil commented on #310
Hey @geyseragustin-md , stocks from yahoo finance, and cctx (crypto) should be full `ohlcv` so far. Are you referring to a stock from PSE?

[2020-11-25 23:42] #292 closed

[2020-11-26 01:00] enzoampil opened #312 "[FEATURE] Deprecate data_format argument in backtest function"
`data_format` is no longer needed since format is now automatically detected by backtest based on standard column names.

[2020-11-26 01:01] #312 closed

[2020-11-26 01:01] #291 closed

[2020-11-26 03:43] geyseragustin-md commented on #310
Hi Enzo, thank you for your quick response, yes I was referring to the stocks from PSE

[2020-11-26 06:29] #281 closed

[2020-11-29 07:17] enzoampil opened #314 "[FEATURE] Make "falsey" parameters in backtest have consistent type"
E.g. if the type of the parameter is `str`, and we want to have a "falsey" default, we should use "", instead of `None`

[2020-11-30 08:07] enzoampil commented on #310
Hi @geyseragustin-md , so fastquant now pulls from the phisix API, which only returns up to closing, and volume data. We can add `hlc` data once this is integrated to `phisix`.

[2020-12-01 19:01] jbdelmundo commented on #202
I added support for `figsize()` parameter in the `backtest` function in https://github.com/enzoampil/fastquant/pull/286/files#diff-9081e26fa869af389e67c6f9e0872cb6eb190052979673832a9b2f4a6215343eR67

[2020-12-01 19:01] #202 closed

[2020-12-01 22:54] enzoampil commented on #202
Thanks @jbdelmundo ! :smile:

[2020-12-01 22:58] #302 closed

[2020-12-02 03:23] enzoampil opened #317 "[BUG] Error when allow_short=True, make sure to add test case for shorting"
This may be due to the recent app update. The fix for this should be paired with the addition of a test case where a `allow_short=True`.

Error below:

[code]

[2020-12-02 03:41] enzoampil commented on #317
False alarm -- was an error from a local branch

[2020-12-02 03:41] #317 closed

[2020-12-02 03:45] enzoampil opened #318 "[FEATURE] Add max closed trades constraint"
Adding a constraint on a set number of trades to make within the period can make strategies more comparable with one another. It also becomes easier to simulate "random" trades from here cc @jbdelmundo :smile:

[2020-12-02 23:16] #314 closed

[2020-12-04 00:45] #296 closed

[2020-12-05 11:52] enzoampil opened #323 "[FEATURE] Take out "close" mode in `backtest`"
This makes sense to do since the new handling automatically sets the next day `open` as the current day `close` if there is no `open` column in the dataframe.

[2020-12-10 00:13] #270 closed

[2020-12-10 01:28] alswang18 commented on #76
I don't think this is still an error anymore. The format 'dcv' doesn't seem to exist anymore either.

[2020-12-10 03:00] enzoampil commented on #76
Thanks @alswang18 , looks like we can close this issue then.

[2020-12-10 03:00] #76 closed

[2020-12-11 06:43] jbdelmundo opened #325 "[FEATURE] Data Splitting into training/optimization and testing"
**Is your feature request related to a problem? Please describe.**
A method of splitting time series into training and testing data. A walk forward train_test split

**Describe the solution you'd like**
Create a method similar to `sklearn.model_selection.TimeSeriesSplit`

**Describe alternatives you've considered**
`sklearn.model_selection.TimeSeriesSplit` would work but there are limitations such

[2020-12-15 13:17] jbdelmundo opened #327 "Include date ticks on the backtest plot figure"
The plot figure given by backtest does not include labels along the X-axis.
The `datetime`  or `dt` column should be fine.

[2020-12-16 14:10] #325 closed

[2021-01-15 04:02] vijay-r commented on #263
Hi @enzoampil,
getting error when trying
`python -m pip install fastquant`
[code]

[2021-01-15 04:06] rafmacalaba commented on #263
@vijay-r hello, as the error mentioned, you're using python 2.7 for installing fastquant using pip. Please try to use Python version that is greater than or equal to 3.0 Thanks!

[2021-01-15 04:13] vijay-r commented on #263
@rafmacalaba thanks for the quick reply
tried `pip3 install fastquant --upgrade` and got below error

[code]

[2021-01-15 04:19] rafmacalaba commented on #263
can you create a virtual environment (venv) for the installation? I don't know what happened in the above traceback error.

[2021-01-23 08:45] datomnurdin opened #335 "[BUG] Can't install Fastquant"
#### Problem description
Can't install Fastquant

#### Environment

-  platform (e.g. Linux, OSX, Windows): OSX
-  fastquant version (e.g. 0.1.3.17): latest version
-  installation method (e.g. pip, conda, source): pip

I'm getting this error message: https://gist.github.com/datomnurdin/9316fc269c71b4a6ca3f5a947a1c0272

[2021-01-24 18:34] ChooseYourPlan opened #336 "[FEATURE] Dividends"
I am not quite sure what happens to the dividends that one would get while holding the share in backtesting.

Maybe there should be an option for reinvesting or adding it to the account balance.

If this feature is already present, I am sorry.

[2021-01-25 13:22] rafmacalaba commented on #336
This sounds interesting! @enzoampil do you think we can incorporate this one in fastquant? or do you have an idea if this is possible? any implementation hints will be highly appreciated. FYI @jbdelmundo @jgendrinal  @jpdeleon

[2021-01-25 14:22] ajdajd commented on #336
I remember seeing dividends data on kissch*** before... not sure if it's something we can scrap/part of the API.

[2021-01-25 15:30] ChooseYourPlan commented on #336
Not sure if i am right here but...

Yahoo Finance Docs says something like this.

To get the dividends expected from holding a stock we can go back to the get_quote_table() function and do:
`quote_table = si.get_quote_table("aapl")
quote_table["Forward Dividend & Yield"]
'3.28 (1.02%)'`

[2021-01-25 15:34] enzoampil commented on #336
@rafmacalaba this is definitely doable! Though yes it will assume that the data you have also has a dividend time series.

Since we use the special CustomIndicator, we can add support for a "dividend" column in the input dataframe, and then add it to the cash balance of the portfolio so that it will be used to buy the stock (if enough to buy at least one).

Let me know if you want more specific gu

[2021-01-25 15:47] ntakouris opened #337 "[BUG] Incorrect interval displayed on backtesting result plot"
#### Problem description
Backtest results plot does not infer input data time interval / time delta correctly and it just assumes that your data are on daily intervals. cc @enzoampil stated that it is a UI-issue only (on fastquant slack)

#### Example
[Look at this plot closely](https://files.slack.com/files-pri/T011P5D2SUV-F01KXSG410C/screenshot_20210125-154526_messenger.jpg), it says (1 Day) clo

[2021-01-25 16:33] ChooseYourPlan commented on #336
Also it would be nice to have a bool parameter where one can specify if the dividends should be reinvested

[2021-01-25 16:43] billybutcher opened #338 "[BUG] hi i cant seem to get JFC price data from jan 1 2020 to sep 1 2020 (and onwards)"
#### Problem description

#### Example

[code]

#### Expected behavior

#### Environment

-  platform (e.g. Linux, OSX, Windows):
-  fastquant version (e.g. 0.1.3.17)
-  installation method (e.g. pip, conda, source):

[2021-01-26 01:59] enzoampil commented on #336
@ChooseYourPlan sounds good. Yes, Yahoo finance can be a source for the dividends. How we'll likely implement this initially is the user can add a dividend column themselves if they know how, but the `backtest` function will automatically read the `dividend` column if it exists. :smile:

[2021-01-26 08:41] enzoampil commented on #338
@billybutcher This may be a recently fixed issue:

Can you try updating?

`pip install --upgrade fastquant`

[2021-01-27 06:12] billybutcher commented on #338
ok for some reason
[code]
works
but not
[code]

[2021-01-27 06:18] billybutcher commented on #338
ok so
[code]
works after some time but it still returns Failed Download

[2021-01-28 18:18] ChooseYourPlan commented on #336
Hmm I need this Feature for my Thesis about Dividend investing Strategies. Any suggestion what I should use now or how to implement it myself? Thanks in advance

[2021-01-30 04:01] rafmacalaba commented on #336
@jbdelmundo any thoughts for implementing on `CustomIndicator`? not sure if the `sentiment-like` approach is more friendly/doable.

[2021-01-30 04:02] rafmacalaba commented on #336
much like integrating a pandas dataframe (timestamp, dividend) with `self.data`.

[2021-01-30 04:05] rafmacalaba commented on #335
@datomnurdin hello, thanks for using fastquant.

could you install it on a virtual environment and give us the traceback if theres an error :) Thanks!

[2021-01-30 04:08] rafmacalaba commented on #310
closing this issue since we have a limited amount of data for phisix api. Thanks for using fastquant!

[2021-01-30 04:08] #310 closed

[2021-01-30 04:11] rafmacalaba commented on #289
no activity/ follow-up on the requested official API needed to get indonesian stock data. please re-open :)

[2021-01-30 04:11] #289 closed

[2021-01-30 09:20] enzoampil commented on #336
@rafmacalaba  Yeah so just add a `dividend` column, then access the dividend column at the `BaseStrategy` level (yes, via `self.data` I believe).

Because of `CustomIndicator` any of the columns in the input dataframe should be accessible at the strategy level. This is exactly what. we do for `TernaryStrategy` - it just accesses the `custom` column straight without the need for extra effort.

The

[2021-02-01 08:13] chaudhary-v opened #339 "Can we use two strategy as and condition rather than or condition?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-01 11:02] cruncharlie commented on #338
Hi enzoampil, I tried to get data for 2020 (e.g. ALI), I got only up to "2019-06-07"

df = get_stock_data("ALI", "2019-01-01", "2020-12-31")

When I tried "JFC" I get this error:

ConnectionError: HTTPConnectionPool(host='1.phisix-api.appspot.com', port=80): Max retries exceeded with url: /stocks/JFC.2020-08-03.json (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f3c

[2021-02-02 09:27] jbdelmundo opened #340 "Rework on combining multiple strategies."
Description:
The combination could be as
1. Diversified Strategy: works for diversifying strategies
2.  Combine signals under 1 strategy

Detailed example:
Assume that different signals for Strategy 1 and Strategy 2 occurs on the following timestamps

|Timestamp |Strategy 1   | Strategy 2   | Diversified Strategy   | Combined signal  OR | Combined signal AND |
|---|---|---|---|---|---|
| 1 | BUY

[2021-02-04 10:08] ajdajd opened #341 "[FEATURE] Use get_pse_data with a list of symbols with parallelization"
**Is your feature request related to a problem? Please describe.**
While I can use a `for` loop, fetching recent PSE data is slow. It takes around ~30s to get the last ~30 days of JFC. See below.

![image](https://user-images.githubusercontent.com/13794421/106877175-70d55200-6713-11eb-8a07-f4bf5d75d9ac.png)

**Describe the solution you'd like**
Use joblib.Parallel (PR incoming)

**Describe alterna

[2021-02-04 12:08] rafmacalaba commented on #339
@jbdelmundo your custom strategy supports `AND` on multiple strategies right? @chaudhary-v please check this [notebook](https://github.com/enzoampil/fastquant/blob/master/examples/2020-10-26-user_defined_strategy.ipynb)

[2021-02-04 12:15] ajdajd opened #343 "Incomplete docstrings: pse.py"
- [ ] `get_stock_table`
- [ ] `get_pse_all_stocks`
- [ ] `get_pse_data_old`
- [ ] `get_pse_data_cache`
- [ ] `update_pse_data_cache`
- [ ] `get_pse_data`
- [ ] `datestring_to_datetime`
- [ ] `pse_data_to_csv`

[2021-02-04 12:16] ajdajd commented on #343
@enzoampil Is this ok? Also, can't label XD

[2021-02-04 12:48] rafmacalaba commented on #323
@enzoampil context?

[2021-02-06 03:17] enzoampil commented on #343
looks good @ajdajd ! 😀

[2021-02-06 18:51] jgendrinal opened #344 "[BUG] Travis CI will no longer work in future date"
#### Problem description

Unable to test on the fly with pytest

[2021-02-07 04:20] javierlopeza commented on #263
@vijay-r - It looks like you are trying with Python 3.9. Try with Python 3.7. That worked for me 😃

[2021-02-15 13:40] thistleknot opened #348 "EMA crossover strategy"
Add EMA crossover strategy

[2021-02-15 13:43] thistleknot opened #349 "multi option to disable stategies"
I like the OR structure

However.  I'd also like to see if some strategies are excluded altogether.

If there was a strat_opts where the values were blank that would disable the strategy that would be nice.

ex.

bbands has ,20 meaning that at least on one of the grid searchs.  the bbands strategy is completely disabled while the rest are enabled (in this example)

Something like that.

strats_opt

[2021-02-18 02:45] thistleknot opened #350 "Misleading forecasting principles"
#### Problem description
Misleading forecast principles

your forecast calendar includes the dates trained on.  Took me a while to figure it out, but this should be the code.  And surprisingly it works very well!

[code]

[2021-02-18 02:54] enzoampil commented on #348
@thistleknot We actually already have EMA crossover under the alias `emac`(README [link](https://github.com/enzoampil/fastquant#exponential-moving-average-crossover-emac-strategy)).

[2021-02-18 02:55] enzoampil commented on #350
Thanks for this @thistleknot , will look into this over the weekend!

[2021-02-18 03:00] thistleknot commented on #348
I wrote my own evwma macd strategy.  So it wouldn't be too difficult to do an ema.  Either way I look forward to your ema method

[2021-02-18 03:42] enzoampil commented on #348
Feel free to contribute the strategy as well @thistleknot 😄

[2021-02-19 10:30] enzoampil commented on #335
I notice these tend to happen for the recent python version ... (e.g. 3.9)

[2021-02-19 14:48] enzoampil opened #352 "[BUG] pip install failing on latest python versions"
Multiple issues and personal messages to me are indicating that the latest python version (eg 3.9) are note able to install fastquant. Best to address this soon.

[2021-02-20 19:16] thistleknot opened #353 "[BUG] lower_limit upper_limit doesn't do anything"
working on a proper strategy that only forecasts 1 day ahead using a rolling window

but... after b = ...

I always get the same order book.  Which doesn't make any sense.  I clearly have a buy/sell decision most days (maybe i'm selling when I don't have any stocks?)  well I checked that, that's not the case in fact upper_limit and lower_limit I can inverse the signs and it doesn't have any effect

[2021-02-21 02:53] enzoampil commented on #353
@thistleknot I'm not sure if this is the case, but I suspect that it's because the initial cash position is only set to 100K and BTC/USDT has recently shot up to USD 57K. Can you try increasing `init_cash` substantially to say `1000000`?

For context, we don't support "fractional" trades yet, which should be doable with crypto currencies like BTC. To circumvent this for now, we can just set `init_

[2021-02-21 03:08] enzoampil commented on #222
Bumping this up since it's especially important now that BTC / USDT is at 57K ...

[2021-02-21 03:44] thistleknot commented on #353
That just might be it. I didnt even bother to think about the fact it was
in 57k

On Sat, Feb 20, 2021, 8:53 PM Lorenzo Ampil <notifications@github.com>
wrote:

[2021-02-21 07:05] #344 closed

[2021-02-21 07:05] #352 closed

[2021-02-21 07:06] enzoampil commented on #335
This should be resolved by this recent [PR](https://github.com/enzoampil/fastquant/pull/345) by @jgendrinal :smile:

[2021-02-21 07:06] #335 closed

[2021-02-21 08:18] thistleknot commented on #353
same.  I saved the file as a csv and uploaded it here
https://github.com/thistleknot/Python-Stock/blob/master/btresults.csv

[2021-02-21 17:34] thistleknot commented on #353
that didn't solve it for me.  I ended up writing my own backtesting function using what I've learned from your orderbook and quanstrat.  Although I don't know if I have it right.

[2021-02-21 18:45] thistleknot commented on #348
here's a link to the code for my evwma strategy
https://github.com/thistleknot/Python-Stock/blob/master/evwma.py

[2021-02-21 18:50] thistleknot commented on #353
here's my csv

it looks like I might be getting similar results now with my updated backtest script I wrote
![image](https://user-images.githubusercontent.com/5154106/108635145-4c7fb200-7443-11eb-9ae0-46d406a946f9.png)

vs
![image](https://user-images.githubusercontent.com/5154106/108635142-3d006900-7443-11eb-8acc-55927f8f2153.png)

https://github.com/thistleknot/Python-Stock/blob/master/btresults

[2021-02-22 00:04] enzoampil commented on #353
Is this the data csv, and you're using the full script above?

[2021-02-22 00:17] thistleknot commented on #353
I'm saying you can use that csv and try changing values

# Convert predictions to expected 1 day returns
expected_1day_return = pred.set_index("ds").yhat.pct_change().shift(-1).multiply(100)

# Backtest the predictions, given that we buy bitcoin when the predicted next day return is > +1.5%, and sell when it's < -1.5%.
df = pd.read_csv('btresults.csv')
#may be necessary
df = df.set_index('dt')

df

[2021-02-26 10:56] 0cv opened #355 "[BUG] Sentiments fail on businesstimes"
[code]

Will result in `AttributeError: 'BarContainer' object has no attribute 'get_zorder'`

Digging into the issue, it seems that the businesstimes website returns only JavaScript and no more HTML. At least doing this:
[code]

will result in an empty body and a lot of javascript. Either I'm doing something wrong, or businesstimes has implemented some mechanism to disable such scraping

[2021-02-27 03:04] enzoampil commented on #353
@thistleknot ah got it. Wait, so with your updated backtest script, does it now seem to be working as expected?

[2021-02-27 03:06] enzoampil commented on #355
Ah yes, this is the issue with pull from the next. @rafmacalaba tagging you here since you built the feature :smile:

[2021-02-27 05:46] rafmacalaba commented on #355
@enzoampil ack! seems like its BT stuff.

[2021-02-27 10:24] 0cv opened #357 "Wrong results for the FB Prophet example?"
I _think_, that the example of the Prophet calculation provides wrong results

#### Problem description
[code]

This script takes 500 candles, which are sent to Prophet and it makes a prediction. However, the predictions seem to be depending on what was before and... what comes next. This means that the price prediction returned by Prophet on a candle of yesterday will be impacted by the candle of

[2021-02-27 11:31] 0cv commented on #357
my bad - the example is wrong, but my understanding is wrong, too ... This helped me figuring out https://github.com/enzoampil/fastquant/issues/350

[2021-02-27 11:31] #357 closed

[2021-02-27 11:31] 0cv commented on #350
@thistleknot thank you, very helpful!

[2021-02-27 15:07] thistleknot commented on #353
Sorry i've been off on my own tangent (I wrote my own backtest algorithm
that uses partial trades).

I haven't looked at this since.  You can close the bug out for now.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=s

[2021-02-27 15:09] #353 closed

[2021-02-27 15:10] enzoampil commented on #349
Good Idea, we can add this to the feature backlog - thanks @thistleknot !

[2021-02-27 15:17] enzoampil commented on #350
Thanks @thistleknot , agree that this is the more proper approach since the predictions are made "out of sample". The example in the readme was meant as a simply coded, albeit flawed approach to backtesting forecast results, which is why I mentioned `based on in-sample time series forecasts`.

Feel free to update the README with this correct out of sample prediction approach (including the output

[2021-02-27 20:12] 0cv opened #358 "[FEATURE] - custom strategy: exit strategy different than entry"
**Is your feature request related to a problem? Please describe.**
When allow_short is true, entry and exit are blurred (defined by sell_prop and buy_prop

**Describe the solution you'd like**
it shall be possible to specify an entry_long, exit_long, entry_short, exit_short - so that we can stay without any open position on sideway situations.

**Describe alternatives you've considered**
set allow

[2021-02-28 01:15] enzoampil commented on #358
@0cv Thanks for this feedback! `allow_short`, is a new feature so this seems like a situation we haven't yet built for. I definitely agree it would be useful, and has popped up in conversations to include it!

Will add this to the feature backlog :smile: Feel free to try to implement this as well via a PR, and I would be glad to guide you through the process!

[2021-03-02 18:45] dvdtth opened #359 "[BUG] ValueError: too many values to unpack (expected 2)"
#### Problem description
While using backtest with grid search, getting "ValueError: too many values to unpack (expected 2)"

#### Example

[code]

#### Expected behavior
Code above runs to completion without errors

#### Environment
-  platform= Windows 10
-  fastquant version0.1.4.0
-  installation method = pip
- Python version = 3.9.2
- matplotlib version = 3.2.2

[2021-03-03 13:08] ddfire opened #360 "[BUG]"
#### Problem description
can not bring info from others exchange except binance
i tried differents ways to put the ticker,

for example this works https://api.kraken.com/0/public/OHLC?pair=XDGUSD
this works crypto2 = get_crypto_data("DOGE/USDT", "2021-03-02", "2021-03-03",'5m') #binance
but for kraken does not work, i tried XDGUSD as ticker, also does not work

Thanks!!!

#### Example

[code]
resu

[2021-03-03 14:37] enzoampil commented on #359
@dvdtth Can you please post the full error message?

Thanks for using fastquant :smile:

[2021-03-08 08:56] rafmacalaba commented on #359
@enzoampil this is a bug with grid search. I experienced it also. I'll take this

[2021-03-09 14:49] #359 closed

[2021-03-12 08:57] enzoampil commented on #323
This should already be handled from the "next day open assumption" implemented in the merged [PR](https://github.com/enzoampil/fastquant/pull/239).

[2021-03-28 08:26] #336 closed

[2021-03-28 08:31] enzoampil commented on #336
@ChooseYourPlan Hey sorry for the delay, but the dividend feature has been merged! This means that if the input dataframe has a "dividend" column, the dividends are assumed to be reinvested by default for more stock purchases (if enough to buy stocks).

To turn this off, you can explicitly set `invest_div=False` in `backtest`.

`get_stock_data` now also includes dividends when it gets data for US

[2021-03-28 16:54] ChooseYourPlan commented on #336
Wow! Amazing work guys, I will definitely check it out!

[2021-04-01 04:22] madca03 opened #364 "[BUG] backtrader package not working with matplotlib version 3.4.1"
#### Problem description
backtrader package not working with matplotlib version 3.4.1

#### Solution
### Solution 1
- update requirements.txt to use the latest version of backtrader in its master branch

### Solution 2
- reinstall backtrader to get the latest patch from the master branch
- `pip install git+https://github.com/mementum/backtrader.git@0fa63ef4a35dc53cc7320813f8b15480c8f85517#egg=back

[2021-04-02 11:56] ricardodacosta opened #365 "[FEATURE] Indicator/Strategy ~ Add Volume Average or indicator within indicator"
It would be great to have access to either Volume Average for a period X or be able to add SMA of Volume rather than Close which is the same as Volume Average SMA = (VOLUME, PERIOD)

This would be useful to target entries where price is also followed by an increase of Volume...meaning Volume above Average.

Crossovers and Breakout Strategies can certainly benefit from this feature

[2021-04-13 07:42] paw1523 opened #366 "[BUG] Data as of now is until Aug 01, 2020 only?"
#### Problem description
Hi, I am tring to get data for the past days. However, I noticed that whenever I access data after 08-01-2020, it returns an error

#### Example
df = get_pse_data('JFC','2020-08-01', '2020-08-05')

below is the error I get:

---------------------------------------------------------------------------
gaierror                                  Traceback (most recent call last

[2021-04-21 20:23] dbeis opened #367 "[BUG] The grid search breaks when attempting to plot the result using the optimal parameters"
#### Problem description
The grid search breaks when attempting to plot the result using the best parameters

#### Example

[code]

#### Expected behavior
The code breaks while ploting the best params result with the following error:
[code]
#### Environment

-  Ubuntu 20.04
-  fastquant @ git+https://github.com/enzoampil/fastquant.git@de7e381bb56848889a1d20b6424b81c72cb3172d
-  pip pulls it from g

[2021-04-24 04:02] dvdtth commented on #359
Thanks for the fix. The error "too many values to unpack" is now gone.

However, a new error shows up now.
"ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"

Seems to be failing somewhere in backtrader, but not sure whether that's due to something pass to it through fastquant?

image](https://user-images.githubusercontent.com/2410499/11594651

[2021-04-24 19:06] skyphyr commented on #106
I just implemented a fix for this in crypto, should be easy to port across to stock data
https://github.com/enzoampil/fastquant/pull/368/commits

[2021-04-26 02:44] kdg862 opened #369 "Matplotlib 'warnings' issue while plotting"
I was just trying to follow the tutorial, but cannot get plotting to work. I was trying to run the following:

from fastquant import backtest
from fastquant import get_crypto_data
crypto = get_crypto_data("BCH/USDT", "2021-01-01", "2021-04-24")
backtest("smac", crypto, fast_period=15, slow_period=40)

And received this error:
ImportError: cannot import name 'warnings' from 'matplotlib.dates'

Simi

[2021-04-26 14:10] kdg862 commented on #369
I was doing this in a Jupyter notebook running Python 3.8.5. Here is the full error message:

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-18-15cb35d8ec81> in <module>
      1 from fastquant import backtest
----> 2 backtest("smac", crypto, fast_period=15, slow_period=40)

[2021-04-28 10:52] ahmadsl opened #370 "[FEATURE] Add multiprocessing support to backtest"
Optimization of complex strategies takes too much time. Adding multiprocessing can solve the problem.

`backtrader.cerebro` can be used. [definition](https://github.com/mementum/backtrader/blob/0fa63ef4a35dc53cc7320813f8b15480c8f85517/backtrader/cerebro.py#L80).

[2021-05-01 22:51] rahulmr opened #371 "Example Request - How to use fastquant in real time market"
Thanks for wonderful module.

I have a question how we can use fastquant in live market for trading? Is it possible to do so since it is based on backtrader?

Any possible suggestions please let me know.

Suppose I get a new 1 min tick how can I trade based on it, how to utilize signals.

[2021-05-13 04:47] nickthorpie opened #372 "[FEATURE] Request hourly crypto data"
**Is your feature request related to a problem? Please describe.**
I would like to be able to run analysis on hourly data because I'm testing strategies for young cryptos.

**Describe the solution you'd like**
The solution takes no more than a minute. I've worked around it on my computer by fastquant.py:
line 544: get_crypto_data(ticker, start_date, end_date,granularity = "1d"):
and
line 552:

[2021-05-24 13:51] hosseiin1993 opened #373 "[FEATURE] multi strategy to backtest strategies in an AND fashion"
I need to implement a multi-strategy to buy or sell when all my strategies are signaling together

I noticed there is a multi-strategy feature that is implemented in OR fashion, it would be great if you extend this feature to support AND in strategies too.

[2021-05-25 21:54] zonemikel commented on #185
Hi, thanks for this feature, just adding I would like to see the take profit also. Not so worried about trailing but just having simple stop loss and take profit is pretty important.

I did implement it myself in a custom strat, but for some strange reason it kept selling when it should not, even though in 'sell_signal' I never returned 'True' I would still get a sell, and even though I set allow_

[2021-05-26 00:35] enzoampil commented on #185
@zonemikel would you mind sharing your custom strat code? :smile:

[2021-05-26 01:55] zonemikel commented on #185
I would not at all, I'll start it in a new issue so we don't pollute this one

[2021-05-26 02:06] zonemikel opened #374 "[BUG] custom strat always has short positions even though it should not"
#### Problem description
I wrote my own custom strat, I basically just wanted MACD with stop loss and take profit. I know there is already a stop loss condition but I was just implementing it as a test. The built in stop loss works well with the macd by the way. Anyway no matter what I do it always has a 'short' position when I backtest my strat, even though I never return 'True' in the sell_signa

[2021-05-26 03:48] enzoampil commented on #185
Gotcha @zonemikel !

In the meantime, we can add in take profit support once bandwidth frees up, but if you'd like this faster, do feel free to try contributing it as well @zonemikel ! :smile:

I'd be happy to give you guidance on this. The implementation shouldn't be much different from the stop loss implementation (linked above), and the work will mostly be on the `BaseStrategy` module.

[2021-06-10 01:32] CAB0409 commented on #369
You have to change matplotlib backend

if you are using a mac you have to change ~/.matplotlib/matplotlibrc to MacOSX.
If you are using linux I believe you change it to another option that I forget but try these:

- Qt5Agg
- Gtk3Agg
- TkAgg
- WxAgg
- Agg
- Qt5Cairo
- GTK3Cairo
- TkCairo
- WxCairo
- Cairo

[2021-06-10 07:06] Enforcer007 opened #375 "No tracebility for pip packages"
Hi @enzoampil ,

The current latest pkg version in pip is "1.4.0", where as in the github the dev branch version is 1.3.* (from setup.py)

I'm unable to see a release package/branch in this repo for pip.

Can you help me out in this regards.

[2021-06-10 07:40] enzoampil commented on #375
Hi @Enforcer007 - apologies we haven't updated pip yet. If your run setup.py on master that should be the latest version :smile: But will update the pip package in the next week or so!

[2021-06-10 07:42] enzoampil commented on #374
@zonemikel Hello, yes this seems to be a bug with respect to our `stop_loss` feature, since it automatically assumes "shorting" is allowed (hence selling even when we don't hold the security).

We will have to fix take profit and stop loss support on `BaseStrategy`. In the meantime, I believe you can solve this by implementing your own "stop loss" support in your custom strategy (and don't use the

[2021-06-10 07:43] enzoampil commented on #374
Also @zonemikel , if you succeed with above, you might want to contribute the same to `BaseStrategy` with a PR if you want! :smile:

[2021-06-10 11:34] Enforcer007 commented on #375
Thanks for the clarification. 🤝

[2021-06-10 11:35] Enforcer007 commented on #375
I also observed there's an issue in rendering the chart. I'll raise a new issue for it.

[2021-06-10 11:35] #375 closed

[2021-06-10 11:44] Enforcer007 commented on #375
Already there was an issue created same to what I faced - https://github.com/enzoampil/fastquant/issues/369

[2021-06-10 12:07] Enforcer007 commented on #369
I've also faced the same issue in when calling the backtest method.  💔

If we dig deeper the issue is due to the backtrader library that fastquant depends on.  🤔

There's already a fix for this issue https://github.com/mementum/backtrader/commit/0fa63ef4a35dc53cc7320813f8b15480c8f85517  😃

But it is yet to be released in a new version and I sincerely doubt there will be a new release in short time

[2021-06-27 16:01] enzoampil commented on #374
@zonemikel This should be fixed based on our latest merged [PR](https://github.com/enzoampil/fastquant/pull/377) #377 !

[2021-06-27 16:02] #374 closed

[2021-06-27 16:05] enzoampil commented on #185
Both stop loss and take profit are now supported as per PR #377 .

Note that it's stable for both long only , and where allow_short = True, but we are yet to refine the experience when allowing for shorting. We recommend to mainly use this when doing long only (ie allow_short = False) for now!

[2021-06-27 16:05] #185 closed

[2021-06-28 03:36] enzoampil commented on #222
@jpdeleon fractional trading is already supported after this PR #377 :smile:

[2021-06-28 03:36] #222 closed

[2021-07-01 11:03] ShawnKenley opened #379 "[BUG] Missing Data for some dates"
#### Problem description

Opening Prices, Highs, Lows only show up for dates August 03, 2020 and earlier while Volume is Null for said dates. Only Closing Prices, Volume, and Dividends show up for dates August 04, 2020 and Later.

#### Example

[code]

#### Expected behavior

Opening Prices, Highs, Lows, Closing, Value, Volume and Dividends all show up for all dates.

#### Environment

-  platform

[2021-07-10 14:56] jannctu commented on #372
Hi @nickthorpie

I am not a part of the team and don't have much time to send a pull request.

Here is the quick solution

go to: `fastquant/data/crypto/crypto.py`

then change the time format.
1. Line 20
[code]
2. Line 73
[code]

Hope it helps.

[2021-07-22 20:39] miohtama opened #382 "fastquant fails to render backtest() result in Jupyter Notebook"
#### Problem description

fastquant fails to render `backtest()` result chart

#### Example

Running Lesson 2 Notebook on Google Colab here:

https://colab.research.google.com/github/enzoampil/fastquant-blog/blob/master/_notebooks/2020-03-09-lesson2-backtest-your-trading-strategy.ipynb

#### Expected behavior

I get a diagram for `backtest` function call result

<img width="1169" alt="image" src="

[2021-07-23 10:19] miohtama opened #383 "Automatically install Fastquant on-demand on notebooks"
**Is your feature request related to a problem? Please describe.**

A lot of notebooks have commented out pip install line at the start.

**Describe the solution you'd like**

You can automatically install `fastquant` on demand like the example below - this considers both installed and fresh notebook servers. It is especially handly for Colab that keeps nuking out your installation between session

[2021-07-23 11:19] jbdelmundo opened #384 "[BUG] Execution price does not fit between High and Close"
#### Problem description

When setting custom buy/sell signals, the order was executed the following day. However the execution price was still based on the current day. The execution price can be impossible because it was trying to execute today's price that may not be available the following day.

|    | dt                  |   open |   high |   low |   close |   entry_signal |   exit_signal | t

[2021-07-23 14:28] jbdelmundo commented on #384
Also, the `size` (or amount of shares) is determined on the day the signal is generated
If the `size * price > cash`,  where `price` is based on the execution date, and not on the signal day, the buy order will fail  (`order.status == order.Margin`)

[2021-07-24 12:36] enzoampil opened #385 "[FEATURE] Make periodic data save timestamp as datetime not date"

[2021-07-26 09:53] #385 closed

[2021-08-04 10:14] ricardodacosta opened #389 "Slack/Discord community?"
Is there a chat group for fastquant users? I noticed the link for Slack is no longer working. I'm primarily interested in having someone help me, paid or free, with a custom strategy. Any fastquant developers interested? email me at fxbaba108@gmail.com

[2021-08-04 10:16] ricardodacosta commented on #373
This would be a great feature indeed! Has it been resolved? @hosseiin1993 have you found an alternative solution?

[2021-08-16 05:38] enzoampil commented on #389
Hey @ricardodacosta , here's the updated link :)

https://join.slack.com/t/fastquant/shared_invite/zt-ueui22r6-cV7WPXSsvT96Dlmr0QV6qg

[2021-09-23 03:24] LucasSeveryn opened #392 "Support for negative trading levels"
Doesn't seem to work for price series with negative trading levels - this applies mostly to spreads between contracts, but also to crude oil futures that briefly turned negative in 2020.

[2021-10-24 13:02] microplc opened #393 "[BUG]Optimize trading strategies with automated grid search"
#### Problem description

#### Example

[code]
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JFC: Data doesn't exist for startDate = 1514736000, endDate = 1546272000
            close
dt
2018-01-03  255.4
2018-01-04  255.0
2018-01-05  255.0
2018-01-08  256.0
2018-01-09  255.8
---------------------------------------------------------------------------
Va

[2021-11-03 17:28] twoATOMS opened #394 "get_stock_data() error"
Hi guys, I have a problem when I run the following

[code]

I get the following

[code]

[2021-11-03 19:09] #394 closed

[2021-11-03 19:10] twoATOMS commented on #394
Solved it. Sorry for the post.

[2021-11-08 08:59] ameenpv commented on #394
Could you explain how you solved it?

[2021-11-30 07:35] dmitriikifit commented on #373
Agree it would be amazing feature.

[2021-12-02 06:46] mikeejazmines commented on #383
Hey! Good idea, would be a great addition if anyone wants to pick this up

[2021-12-02 06:49] mikeejazmines commented on #379
Hi! This is mainly an issue with the data provider and not the get_pse_data function. This is because the function mainly pulls and aggregates from `PHISIX` through `get_phisix_data`

Note that PSE data in general isn't as clean as other assets as the data isn't as openly accessible.

[2021-12-02 06:54] mikeejazmines commented on #371
Fastquant is mainly used for backtesting, so you can create and backtest your strategy using fastquant and then deploy it using streaming live data or api data pulls. Right now fastquant is optimized for EOD processes but intraday is still possible in the future :)

[2021-12-02 06:56] mikeejazmines commented on #369
If this still persists, one can also change the matplotlib version to 3.2.2 as seen here: https://stackoverflow.com/questions/63471764/importerror-cannot-import-name-warnings-from-matplotlib-dates

[2021-12-02 06:58] mikeejazmines commented on #360
Hi! This issue is mainly due to how you call the symbols. Binance uses DOGE/USDT but Kraken at the time of your issue, used DOGE/USD. They did allow DOGE/USDT at April so this should be good too!

[2021-12-02 07:07] #379 closed

[2021-12-02 07:09] #369 closed

[2021-12-09 03:19] enzoampil commented on #389
@ricardodacosta If you want to interact with us directly, you can also reach us on the Hawksight discord. Feel free to ask about fastquant in the #feedback-suggestions. and #bug-report channels.

https://discord.gg/gWZx2NYe

[2021-12-09 03:55] mikeejazmines opened #398 "New Strategies"
Currently our strategies can be found [here](https://github.com/enzoampil/fastquant/tree/master/python/fastquant/strategies)

A good first contribution for beginners in algo trading would be to create your own strategies. A good example would be the [MA Crossover strategy](https://github.com/enzoampil/fastquant/blob/master/python/fastquant/strategies/ma_crossover.py), so be sure to checkout how th

[2021-12-14 09:03] YASHGUPTA2611 commented on #393
is your query resolved??
Please help me, i'm also stuck while optimizing my strategy

[2021-12-14 09:57] mikeejazmines commented on #393
Hi @microplc , this can be fixed by adding `plot=False` Plot will cause errors given that the result will be the final returns of multiple strategies as seen below

<img width="457" alt="Screen Shot 2021-12-14 at 5 56 40 PM" src="https://user-images.githubusercontent.com/12680278/145975750-f3c70855-278e-455d-b018-e918f85e0911.png">

So plotting will cause an error. The new backtest line should be:

[2021-12-14 16:39] YASHGUPTA2611 commented on #393
@microplc Thanks for the reply and yeah it works.
Thank You

[2021-12-15 04:47] mikeejazmines commented on #393
Happy to help @YASHGUPTA2611 !

@microplc let me know if this fixes your case as well

[2021-12-15 23:35] jpdeleon commented on #367
Hi @dbeis thanks for using fastquant.

The grid search does not work for backtesting `custom` indicators so `upper_limit` and `upper_limit` parameters cannot accept arrays, but only floats instead.

[2021-12-16 02:36] #366 closed

[2021-12-16 02:38] mikeejazmines commented on #372
Fixed with recent PR https://github.com/enzoampil/fastquant/pull/396

[2021-12-16 02:38] #372 closed

[2021-12-16 02:47] mikeejazmines commented on #367
Hi @dbeis similar issue to https://github.com/enzoampil/fastquant/issues/393

Plotting does not work with upper_limit and lower_limit. The code will run if you add `plot=False`

Another way is to run the backtest and get the best params and then input only the best params to another backtest function for plotting as what jp mentioned.

[2021-12-16 02:47] #360 closed

[2021-12-16 05:55] mikeejazmines commented on #338
This issue is based on multiple calls that the endpoint blocks you for a while. It will work after running again

[2021-12-16 06:01] mikeejazmines commented on #337
Hi! If this issue persists please provide a way to replicate. We have just released a new version that handles intraday data as well

[2021-12-16 06:27] YASHGUPTA2611 commented on #393
Yes. it worked.
ThankYou!

[2021-12-16 06:53] jpdeleon commented on #337
Since OP did not follow up with a code to reproduce the bug, I will close this issue for now. Please re-open this issue later if needed.

[2021-12-16 06:53] #337 closed

[2021-12-16 06:58] jpdeleon commented on #338
Yeah, I also get data until 2019-06-07 only:

[code]

Other symbols seem to work fine though.

[2021-12-16 07:11] jpdeleon commented on #106
The original issue posted by @benjcabalona1029 and a separate issue by @Leez94 have been fixed. Please re-open if related issues persist.

[2021-12-16 07:11] #106 closed

[2021-12-16 08:18] jpdeleon commented on #384
@jbdelmundo what's your proposed fix?

[2021-12-16 08:54] #350 closed

[2021-12-16 08:56] mikeejazmines commented on #384
@jpdeleon in a recent PR, enzo and i were looking at the execution type and making the execution type bt.Close caused issues in intraday. Removing it has then fixed the problem.

By default it reverts to bt.Market which gets the close of the day the signal was created.

In line 496 here https://github.com/enzoampil/fastquant/pull/396/commits/329fb5e01678dd5dc8a45fef358e035b571dc611 the exectype=bt

[2021-12-17 09:55] mikeejazmines commented on #393
Closing issue as fix is provided above. Please comment if issue persists

[2021-12-17 09:55] #393 closed

[2021-12-17 13:31] mikeejazmines commented on #370
Hi @ahmadsl the default actually becomes all available cores as stated in the link you provided.

This is further discussed in the backtrader docs here: https://www.backtrader.com/blog/posts/2015-07-23-multicore-optimization/multicore-optimization/

If you have other suggestions for optimization please do let us know! Thanks :)

[2021-12-17 13:34] mikeejazmines commented on #392
I believe this is a limitation in backtrader as well. Would you have an example of backtrader handling negative values?

[2021-12-17 13:36] mikeejazmines commented on #373
Adding help wanted label to this if anyone wants to help out.

You may start looking at [this part](https://github.com/enzoampil/fastquant/blob/4683879bc51bac24fed2ff8bc52d1a528a9f2203/python/fastquant/backtest/backtest.py#L146) of the code

[2021-12-17 13:37] #367 closed

[2021-12-17 13:38] mikeejazmines commented on #364
Yes I've also came across this issue multiple times, I've gone the path of running matplotlib 3.2.2 version

[2021-12-17 13:42] #288 closed

[2021-12-17 13:43] mikeejazmines commented on #257
Closing as this is connected to https://github.com/enzoampil/fastquant/pull/256

[2021-12-17 13:43] #257 closed

[2021-12-17 15:23] ahmadsl commented on #370
@mikeejazmines, thanks for your reply. But I want to config this in Fastquant wrapper.

[2021-12-17 16:11] YASHGUPTA2611 opened #401 "Not able to optimize the stop loss and other floating parameters."
![issue](https://user-images.githubusercontent.com/74678250/146574297-4ffc8451-1c9c-45eb-bcb9-e4417ac8e312.PNG)

[2021-12-18 06:17] mikeejazmines commented on #401
Hi! Could you share more of the code? I can't fully analyze the issue.

Looking at the error message, it is mainly due to you using floats instead of integer which is what the value expects. It isn't due to stop loss or floating params.

[2021-12-18 06:24] mikeejazmines commented on #370
@ahmadsl my bad! Understood. I have created the PR here https://github.com/enzoampil/fastquant/pull/402 I will just test it and merge it when done

[2021-12-18 10:38] YASHGUPTA2611 commented on #401
![1](https://user-images.githubusercontent.com/74678250/146637876-0e58816c-1f15-4413-9dd7-7aa1c75578d2.PNG)
![2](https://user-images.githubusercontent.com/74678250/146637882-ececfdf9-99cd-468e-b35d-8b4aa5dde27e.PNG)

I have applied a range function(the circled one) on af params for optimizing my strategy but it is giving some error.

[2021-12-18 11:34] mikeejazmines commented on #401
If you see the error below it says `TypeError: float object cannot be interpreted as an integer`. If you run `range(0.02, 0.1, 0.02)` it actually gives an error.

[code]

This is an error in the range function. You can also manually add an array instead.

[2021-12-18 16:04] YASHGUPTA2611 commented on #401
![1](https://user-images.githubusercontent.com/74678250/146647599-9f8ea79c-3484-493d-97e7-75a6f843ca44.PNG)
![2](https://user-images.githubusercontent.com/74678250/146647602-a9753b29-83bb-4c5f-b7fb-a5822a1b58c3.PNG)
![3](https://user-images.githubusercontent.com/74678250/146647603-3ad5fe92-c1ce-4274-953b-a63d73be9cc9.PNG)
giving the values as an array and now it is giving the error : -
**ValueErro

[2021-12-18 16:15] mikeejazmines commented on #401
This is the same issue as what you raised previously in this issue https://github.com/enzoampil/fastquant/issues/393#issuecomment-993367593

When you are backtesting with a range, you need to make the value of plot=False. That ValueError means that there are too many values to plot (given that you are backtesting over a range) and it is ambiguous. Thus `plot=False` is the solution

[2021-12-20 09:59] YASHGUPTA2611 commented on #401
Thanks @mikeejazmines , it worked

[2021-12-20 10:00] #401 closed

[2021-12-20 10:01] YASHGUPTA2611 opened #403 "How to give flags or limit our buy and sell signal for the backtesting??"

[2021-12-20 10:49] mikeejazmines commented on #403
Please give more details on the issue/ask

[2021-12-21 02:24] RogerMichel commented on #403
Hi, similar question here I guess:
let's say i have buy/sell signals; but at every trade i want to simulate stop loss/stop profit; how can I take this into consideration in the backtesting?

Example:
2021/1/1 buy signal; i want to put stop loss at -1% and stop profit at +3%
2021/1/2 : market drop -2% so I want stop loss at -1% executed (even though no sell signal)
etc

Thanks!

[2021-12-21 03:06] mikeejazmines commented on #403
@RogerMichel

there is already stop loss and take profit (https://github.com/enzoampil/fastquant/blob/4683879bc51bac24fed2ff8bc52d1a528a9f2203/python/fastquant/strategies/base.py#L52-L54)

You simply need to state the number when you create the strategy https://github.com/enzoampil/fastquant/blob/4683879bc51bac24fed2ff8bc52d1a528a9f2203/python/fastquant/strategies/base.py#L386-L396

[2021-12-21 07:44] YASHGUPTA2611 commented on #403
Let's say i have initial_cash = 100000 and according to my strategy there are 3 buy signals in the starting and i wand to limit my buy signals to only one.
 So the below approach is right? or do we have any alternative?
![Capture11](https://user-images.githubusercontent.com/74678250/146890893-3dc0f2e5-6027-48f7-b76e-fa481357ecbd.PNG)
![Capture12](https://user-images.githubusercontent.com/74678250/

[2021-12-21 12:56] mikeejazmines commented on #403
this will not work.

def buy_signal you are defining a function which should be its own line. I highly suggest going over the backtrader quickstart guide https://www.backtrader.com/docu/quickstart/quickstart/

what fastquant does is handle the main backtrader so all you need is to create the buy_signal and sell_signal. no need to add count. it will automatically handle the signals and buy using th

[2021-12-22 06:14] YASHGUPTA2611 commented on #403
Below is my strategy that i implemented.
![1](https://user-images.githubusercontent.com/74678250/147044380-80f4b82a-3223-4cef-9e10-e913f9337119.PNG)
![2](https://user-images.githubusercontent.com/74678250/147044386-9ae65de2-7fb3-4708-8010-46d416bb70b0.PNG)
In the starting my strategy takes the trade and buy 2 times then sell only one.
I only want to trade one time and will give buy prop and sell p

[2021-12-22 07:36] YASHGUPTA2611 opened #405 "How to get multiple dataframe and backtest at same time"

[2021-12-23 05:23] mikeejazmines commented on #405
Please give more details on the issue/ask

[2021-12-23 05:27] mikeejazmines commented on #403
This is a case of slippage and this really happens even in real life scenarios. You can try changing the slippage to 0

[2021-12-23 05:29] YASHGUPTA2611 commented on #403
Okay understood @mikeejazmines .
Thanks for the reply.

[2021-12-23 05:29] #403 closed

[2021-12-23 09:10] YASHGUPTA2611 commented on #405
I have read the two dataframe using get_crpto_data.
![Capture22](https://user-images.githubusercontent.com/74678250/147216828-5fea0113-7c00-4c09-a79c-cdfdfa4d16cd.PNG)
![Capture21](https://user-images.githubusercontent.com/74678250/147216530-515a022b-27a5-4a8c-a573-64ba00c51b02.PNG)
Now i want to backtest both dataframe at once.
So, how will i do it??

[2021-12-23 09:56] YASHGUPTA2611 commented on #405
![Capture2](https://user-images.githubusercontent.com/74678250/147223208-d1cdb515-a8ed-4b92-b19b-c648777a82b4.PNG)
and it is giving me this error

[2021-12-23 10:15] mikeejazmines commented on #405
Hi! I don't think your all_dataframe is a list of dataframes. It looks to be a list of string. If you see your screenshot it says `['dataframe_BTCUSDT', 'dataframe_ETHUSDT']` which suggests its a string.

[2021-12-23 11:19] YASHGUPTA2611 commented on #405
Hi @mikeejazmines
![Capture12](https://user-images.githubusercontent.com/74678250/147233063-2f7cee4f-453e-4ab8-b00a-8abf8268eefa.PNG)
That i know, but in the above fig. it is also saying that if it is a string it will treat as a path. and i have saved the dataframe as csv file. But it is still showing me error

[2021-12-23 11:23] YASHGUPTA2611 commented on #405
Or do you have any alternative?, means how do i convert my string of dataframe that will pass on the backtest function.

[2021-12-23 12:48] mikeejazmines commented on #405
you can store the dataframes in an array and loop through that array and pass each element into the backtest function

[2021-12-23 17:37] YASHGUPTA2611 commented on #405
But as far as i know, backtrader only read OHLC form of data.
And also i have tried to combine many dataframes in one array, but it is showing me some error.
So, it will be very helpful if you please provide the code for the same.

[2021-12-23 18:01] mikeejazmines commented on #405
Yes, that is why i said store the dataframes in an array and loop through that array and pass _each_ element into the backtest function

[code]

This is also not a backtrader or fastquant specific question. Please do limit the issues to fastquant related issues.

[2021-12-24 05:37] YASHGUPTA2611 commented on #405
Okay understood, Thank you for the reply.

[2021-12-24 05:37] #405 closed

[2021-12-26 06:19] YASHGUPTA2611 opened #406 "Not able to import strategy class from another python file"
![Capture1](https://user-images.githubusercontent.com/74678250/147400582-b58142c9-71ba-4f34-9585-b1be2c23a1d8.PNG)

First i have made a strategy class in a separate python file and imported some of the libraries which will be use.

![Capture2](https://user-images.githubusercontent.com/74678250/147400624-9bf8ffe6-36ed-4d91-9c0c-caa6fe11a1cf.PNG)

but when i try to import my strategy class, it is gi

[2021-12-26 12:19] mikeejazmines commented on #406
This may mean that in your strategy you are passing more than 2 elements when it is only expecting 2. (As stated in the ValueError)

I'd recommend looking at the indicators you are calling and what you are passing to them

[2022-01-07 08:12] YASHGUPTA2611 opened #407 "Backtest function not working while deploying flask application"
![Captureaa](https://user-images.githubusercontent.com/74678250/148511973-fd02414d-b6c9-4be4-ad31-79557d8e1405.PNG)

I have imported the backtest function but it is showing that backtest doesn't take init_cash argument and same for plot and other arguments.

![Capturebb](https://user-images.githubusercontent.com/74678250/148512222-00fb336c-e646-425b-84b2-aeb777ee8cd5.PNG)

![Captureff](https://use

[2022-01-07 08:59] #407 closed

[2022-01-07 09:37] mikeejazmines commented on #407
hi this issue was closed, has it been fixed?

[2022-01-11 03:39] mikeejazmines commented on #406
Has this been addressed, may we close the issue?

[2022-01-11 05:48] YASHGUPTA2611 commented on #406
Yes, thankyou the issue has been resolved.

[2022-01-11 05:48] #406 closed

[2022-01-11 05:55] YASHGUPTA2611 opened #408 "How to get previous and current row while implementing the strategy"
![Capture](https://user-images.githubusercontent.com/74678250/148888477-f0a65c9d-185a-41a1-a509-1caed388f39d.PNG)
Whats the difference if we put self.upperband[0], self.upperband[-1], self.upperband[1]?

I want to consider my upperband values a previous row and the closing price as current for the besting of my strategy.

[2022-01-11 06:16] mikeejazmines commented on #408
For simple crossovers, i suggest using the crossover function https://www.backtrader.com/home/helloalgotrading/

it would be a much simpler implementation. also backtrader follows regular indexing in a timeseries, so 0, -1, 1 does the same as a regular timeseries

[2022-01-23 11:40] DidierRLopes opened #409 "[BUG] Issue with imports"
Hey, I come from [Gamestonk Terminal](https://github.com/GamestonkTerminal/GamestonkTerminal). One of our users asked about being able to integrate your library.

#### Problem description
The issue seems to be at the import level.

#### Example
<img width="1313" alt="Screenshot 2022-01-23 at 11 36 51" src="https://user-images.githubusercontent.com/25267873/150676495-e15de520-61d5-4e74-a1a7-15286c5

[2022-01-24 10:09] enzoampil commented on #409
@mikeejazmines have you seen this issue before?

[2022-01-24 16:18] YASHGUPTA2611 commented on #408
ok understood, Thanks

[2022-01-24 16:18] #408 closed

[2022-01-25 02:11] mikeejazmines commented on #409
Hi @DidierRLopes This is a backtrader and matplotlib issue. You can refer to this https://github.com/enzoampil/fastquant/pull/397

Another user has found a solution by changing their backtrader version but since we do not go this route, I find success in changing the matplotlib to 3.2.2 https://github.com/enzoampil/fastquant/issues/369

[2022-01-25 10:01] DidierRLopes commented on #409
That does it! Thank you @mikeejazmines and @enzoampil !

[2022-01-25 10:01] #409 closed

[2022-01-27 00:47] jerry79 opened #410 "[FEATURE]Would you like to support the library to add extended plotting capabilities -- backtrader_plotting ?"
Would you like to support the library to add extended plotting capabilities -- backtrader_plotting ?

If yes, thank you very much.

https://pypi.org/project/backtrader-plotting/

[2022-01-29 19:33] geofffoster opened #411 "[BUG]"
#### Problem description
using  ternary module. Setting up it to short. The first short works as expected, but the subsequent ones don't. I've made up a simple example to validate. I've changed value of initial cash and get the same result

#### Example

from fastquant import get_crypto_data, backtest, get_yahoo_data
import pandas as pd
import numpy as np

data = {'Date': ['2019-01-21', '2019-01-2

[2022-01-31 02:11] mikeejazmines commented on #411
Hi @geofffoster thank you for adding sample code. It made it much easier!

This is actually expected behavior. The PNL shows the pnl of the order prior because it closes in that order. The second short pnl cant be on buy as that order hasnt closed yet when that order has been made. So the pnl is shown in the order that closes the previous one.

In the example below, I changed the value to 93 just

[2022-01-31 12:20] geofffoster commented on #411
thanks for the clarifcation

[2022-01-31 12:20] #411 closed

[2022-02-02 03:11] enzoampil commented on #410
Thanks for the request @jerry79 . This would be interesting definitely - we'll see if we can add this in soon.

I also encourage you to send over a pull request for a basic implementation, and would be glad to guide you through getting it merged as a feature :smile:

[2022-02-19 14:49] algopy opened #412 "[Indicator import from Pandas-ta ]"
In case need to develope strategy with indicators that's out of scope of  Backtrader-indicator then it's difficult to create custom indicator to fulfill the criteria. Luckily pandas-ta lib Congress almost all.
Combine techno-funda analysis.
Another request is to backtest multiple strategy with same data, concurrently & compare their performance on plot.

Thanks a lot for fastquant.

[2022-02-21 03:33] mikeejazmines commented on #412
Hi @algopy ! Thanks for your suggestions. Could you please separate the requests so it's easier to create PRs for each :)

Will look into pandas-ta! We do focus on technical analysis so fundamental analysis may be down the line

[2022-03-04 06:47] mikeejazmines commented on #358
this was resolved in https://github.com/enzoampil/fastquant/pull/404

[2022-03-04 06:47] #358 closed

[2022-07-25 03:38] gholamangaming commented on #263
I've tried to install it on my jupyter but in my android phone to code while i'm at work doing nothing and i'd got this error.

Collecting fastquant
  Using cached fastquant-0.1.8.0-py3-none-any.whl (5.9 MB)
Collecting pandas==1.1.5
  Using cached pandas-1.1.5.tar.gz (5.2 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.tom

[2022-07-25 10:32] mikeejazmines commented on #263
@gholamangaming it seems your phone is lacking some of the android software needed to run the packages

I'm not familiar with running on android phones, but based on the error messages, you lack some numpy dependencies as well

[2022-07-26 08:21] gholamangaming commented on #263
i think it's not compatible with android phone. coz pandas_datareader got the same problem

[2022-08-29 13:56] pranavlal opened #415 "Testing with machine learning model and a data frame with pre-generated signals"
Hi all,

I have a machine learning model that takes in several technical indicators as indepenent variables. I have already generated the model and have made predictions.
Can I test using this data via fast quant? All the data is in a pandas data frame.

By the way, I am asking this question here because I am unable to get to the discord server. I am blind and the robot challenges are inaccessible

[2022-09-14 18:36] #275 closed

[2022-10-24 04:51] skproptrade opened #416 "Error when get stock data from Thai stock"
I got error like this "ValueError: You are trying to merge on datetime64[ns] and datetime64[ns, Asia/Bangkok] columns. If you wish to proceed you should use pd.concat" only when i try to get stock data from thailand stock exchange for example 'PTT.BK'.
![image](https://user-images.githubusercontent.com/116538412/197450679-5e868d84-8050-4314-8422-8df5dd7fcdea.png)

[2022-11-13 13:09] Leci37 opened #417 "new"
My name is Luis, I'm a big-data machine-learning developer, I'm a fan of your work, and I usually check your updates.

I was afraid that my savings would be eaten by inflation. I have created a powerful tool that based on past technical patterns (volatility, moving averages, statistics, trends, candlesticks, support and resistance, stock index indicators).
All the ones you know (RSI, MACD, STOCH,

[2022-11-27 15:52] jdeukel commented on #369
@mikeejazmines THANK YOU! Was going mad. Everything is working perfectly for me now. Cheers!